<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtoural - Home</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/logo-virtoural.png" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/navbar.css">
    <!-- <link rel="stylesheet" href="/css/popup.css"> -->
    <link rel="stylesheet" href="/css/jumbotron-homepage.css">
    <link rel="stylesheet" href="/css/destinasiTerbaik.css">
    <link rel="stylesheet" href="/css/streamerTerbaik.css">
    <link rel="stylesheet" href="/css/tentangKami.css">
    <link rel="stylesheet" href="/css/artikel-ciptakan-pengalaman-liburan.css">
    <link rel="stylesheet" href="/css/artikelSatu.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/root.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <%- include("./template/navbar.ejs") %>
    <%- include("./template/jumbotron-homepage.ejs") %>
    <%- include("./template/carousel-destinasiTerbaik.ejs") %>
    <%- include("./template/carousel-streamerTerbaik.ejs") %>
    <%- include("./template/artikel-ciptakan-pengalaman.ejs") %>
    <%- include("./template/artikelSatu.ejs") %>
    <%- include("./template/carousel-tentangKami.ejs") %>
    <%- include("./template/footer.ejs") %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="/javascript/destinasiTerbaik.js"></script>
    <script src="/javascript/streamerTerbaik.js"></script>
    <script src="/javascript/tentangKami.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <script src="/javascript/popuplupaPW.js"></script>  <<< Test Partial JavaScript // SUCCESS-->
    <script src="/javascript/main.js"></script>
</body>
</html>