<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles-orderpage.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/logo-virtoural.png" />
</head>

<body>
    <!-- ========================NAV========================== -->

    <!-- =========NAV========= -->

    <%- include("./template/navbar.ejs") %>

    <!-- ====Progress Bar==== -->

    <div class="detail-order-progress-container d-flex flex-column align-items-center">
        <div class="judul-detail-order-container">
            <p class="judul-detail-order">Detail Order</p>
        </div>
        <div class="progress-order-container d-flex align-items-center">
            <img src="/assets/Line 12.png" alt="">
            <div class="container-progress-pagination d-flex justify-content-center">
                <div class="bullet-progress d-flex flex-column align-items-center">
                    <div class="image-satu-bullet">
                        <% if (checkout_result.is_confirmed == null) { %>
                            <img class="bullet-progress-img-awal-satu" src="/assets/bullet-progress.png" alt="">
                        <% } else if ((checkout_result.is_confirmed == true) && (checkout_result.is_approved == null)) { %>
                            <img class="bullet-progress-img-konfirmasi" src="/assets/time-forward-konfirmasi.png">
                        <% } else if ((checkout_result.is_confirmed == true) && (checkout_result.is_approved == false)) { %>
                            <img class="bullet-progress-streamer-belum-bisa" src="/assets/img-gagal-rounded.png">
                        <% } else if ((checkout_result.is_confirmed == true) && (checkout_result.is_approved == true)) { %>
                            <img class="bullet-progress-disetujui" src="/assets/centang-disetujui.png" alt="">
                        <% } %> 
                    </div>
                    <p class="deskripsi-bullet-progress">ORDER</p>
                </div>
                <div class="bullet-progress d-flex flex-column align-items-center">
                    <div class="image-dua-bullet">
                        <% if ((checkout_result.is_confirmed == true) && (checkout_result.is_approved == true) && (checkout_result.is_paid == null) && (checkout_result.payment_image.length == 0)) { %>
                            <img class="bullet-progress-disetujui" src="/assets/bullet-progress.png" alt="">
                        <% } else if ((checkout_result.is_paid == null) && (checkout_result.payment_image.length != 0)) { %>
                            <img class="bullet-progress-ditinjau" src="/assets/time-forward-konfirmasi.png" alt="">
                        <% } else if ((checkout_result.is_paid == false) && (checkout_result.payment_image.length != 0)) { %>
                            <img class="bullet-progress-peninjauan-gagal" src="/assets/img-gagal-rounded.png" alt="">
                        <% } else if ((checkout_result.is_paid == true) && (checkout_result.is_finished == null) || (checkout_result.is_finished == false) || (checkout_result.is_finished == true)) { %>
                            <img class="bullet-progress-selesai-tunggu" src="/assets/centang-disetujui.png" alt="">
                        <% } else { %>
                            <img class="bullet-progress-img-awal-dua" src="/assets/bullet-progress-nonactive.png" alt="">
                        <% } %>
                        
                    </div>
                    <p class="deskripsi-bullet-progress">PEMBAYARAN</p>
                </div>
                <div class="bullet-progress d-flex flex-column align-items-center">
                    <div class="image-tiga-bullet">
                        <% if ((checkout_result.is_paid == true) && (checkout_result.is_finished == null)) { %>
                            <img class="bullet-progress-pembayaran-berhasil" src="/assets/time-forward-konfirmasi.png" alt="">
                        <% } else if ((checkout_result.is_finished == false) || (checkout_result.is_finished == true)) { %>
                            <img class="bullet-progress-selesai-tunggu" src="/assets/centang-disetujui.png" alt="">
                        <% } else { %>
                            <img class="bullet-progress-img-awal-tiga" src="/assets/bullet-progress-nonactive.png" alt="">
                        <% } %>
                    </div>
                    <p class="deskripsi-bullet-progress">PROSES TRIP</p>
                </div>
                <div class="bullet-progress d-flex flex-column align-items-center">
                    <div class="image-tiga-bullet">
                        <% if (checkout_result.is_finished == false) { %>
                            <img class="bullet-progress-selesai-tunggu" src="/assets/time-forward-konfirmasi.png" alt="">
                        <% } else if (checkout_result.is_finished == true) { %>
                            <img class="bullet-progress-selesai-final" src="/assets/centang-disetujui.png" alt="">
                        <% } else { %>
                            <img class="bullet-progress-img-awal-empat" src="/assets/bullet-progress-nonactive.png" alt="">
                        <% } %>
                    </div>
                    <p class="deskripsi-bullet-progress">SELESAI</p>
                </div>
            </div>
        </div>
    </div>

    <!-- ===Notif Order=== -->
    <div class="notif-order-container d-flex flex-column">
        <% if ((checkout_result.is_confirmed == true) && (checkout_result.is_approved == null)) { %>
            <div class="masih-dalam-proses-container">
                <img class="time-forward-image d-flex align-self-center" src="/assets/time-forward 1.png" alt="">
                <div class="text-masih-dalam-proses d-flex flex-column">
                    <p class="heading-notif-order">Order masih dalam proses konfirmasi ke Streamer</p>
                    <p class="text-notif-order">Konfirmasi order ke streamer dilakukan maksimal 2 Hari. Jika melebihi waktu
                        tersebut, order otomatis batal</p>
                </div>
            </div>
        <% } %>
        <% if ((checkout_result.is_confirmed == true) && (checkout_result.is_approved == false)) { %>
            <div class="streamer-belum-bisa-container">
                <img class="image-streamer-gagal d-flex align-self-center" src="/assets/img-gagal.png" alt="">
                <div class="text-streamer-belum-bisa d-flex flex-column">
                    <p class="heading-notif-order">Streamer ini belum bisa ambil order kamu</p>
                    <p class="text-notif-order">Sayang sekali streamer belum bisa temenin kami di trip ini. Tapi tenang, masih ada Streamer lain yang bisa ajak kamu ngetrip bareng!</p>
                </div>
            </div>
        <% } %>
        <% if ((checkout_result.is_confirmed == true) && (checkout_result.is_approved == true) && (checkout_result.is_paid == null) && (checkout_result.payment_image.length == 0)) { %>
            <div class="disetujui-container">
                <img class="check-image d-flex align-self-center" src="/assets/check-image.png" alt="">
                <div class="text-masih-dalam-proses d-flex flex-column">
                    <p class="heading-notif-order">Order sudah disetujui oleh Streamer, lakukan pembayaran</p>
                    <p class="text-notif-order">Waktu pembayaran dilakukan maksimal 2 Hari. Jika melebihi waktu tersebut,
                        order otomatis batal</p>
                </div>
            </div>
        <% } %>
        <% if ((checkout_result.is_paid == null) && (checkout_result.payment_image.length != 0)) { %>
            <div class="masih-ditinjau-container">
                <img class="time-forward-image d-flex align-self-center" src="/assets/time-forward 1.png" alt="">
                <div class="text-masih-dalam-proses d-flex flex-column">
                    <p class="heading-notif-order">Pembayaran masih ditinjau oleh admin</p>
                    <p class="text-notif-order">Peninjauan bukti pembayaran dan pemberian link streaming dilakukan maksimal
                        2
                        Hari. Jika melebihi waktu itu, hubungi Contact Service kami</p>
                    <a href="#">
                        <button class="button-kontak-kami-ditinjau">Kontak Kami</button>
                    </a>
                </div>
            </div>
        <% } %>
        <% if ((checkout_result.is_paid == false) && (checkout_result.payment_image.length != 0)) { %>
            <div class="peninjauan-gagal-container">
                <img class="img-peninjauan-gagal d-flex align-self-center" src="/assets/img-gagal.png" alt="">
                <div class="text-peninjauan-gagal d-flex flex-column">
                    <p class="heading-notif-order">Peninjauan pembayaran gagal</p>
                    <p class="text-notif-order">Peninjauan bukti pembayaran gagal. Silakan sesuaikanlagi total biaya dengan uang yang anda transfer</p>
                    <a href="#">
                        <button class="button-kontak-kami-ditinjau">Kontak Kami</button>
                    </a>
                </div>
            </div>
        <% } %>
        <% if ((checkout_result.is_paid == true) && (checkout_result.is_finished == null)) { %>
        <div class="pembayaran-berhasil-container">
            <img class="check-image d-flex align-self-center" src="/assets/check-image.png" alt="">
            <div class="text-pembayaran-berhasil d-flex flex-column">
                <p class="heading-notif-order">Pembayaran berhasil</p>
                <p class="text-notif-order">Peninjauan bukti pembayaran berhasil. Jika terjadi masalah, silakan hubungi
                    Kontak Streamer</p>
                <a href="#">
                    <button class="button-kontak-streamer-pembayaran-berhasil">Kontak Streamer</button>
                </a>
            </div>
        </div>
        <% } %>
    </div>
    <!-- === Content === -->
    <div class="content-order-container d-flex flex-column">
        <!-- === Waktu Card - Pembayaran Card === -->
        <div class="waktu-pembayaran-wrapper d-flex">
            <!-- === Waktu Card === -->
            <div class="waktu-order-wrapper d-flex flex-column">
                <!-- === rekening tujuan === -->
                <% if (((checkout_result.is_confirmed == true) && (checkout_result.is_approved == true) && (checkout_result.is_paid == null)) || ((checkout_result.is_paid == null) && (checkout_result.payment_image.length != 0))) { %>
                    <div class="rekening-tujuan-container">
                        <div class="wrapper-text-rekening-tujuan">
                            <div class="wrapper-text-content-rekening-tujuan">
                                <!-- <div class="hidden-waktu-upload-pembayaran">
                                    <p class="text-waktu">Waktu</p>
                                    <div class="jam-tanggal-container d-flex align-items-center">
                                        <img class="clock-image" src="/assets/clock.png" alt="">
                                        <div class="jam-content-container d-flex flex-column align-items-center">
                                            <p class="text-satu-waktu">Jam</p>
                                            <p class="text-dua-waktu">09.00</p>
                                        </div>
                                        <img class="calendar-image" src="/assets/calendar.png" alt="">
                                        <div class="tanggal-content-container">
                                            <p class="text-satu-tanggal">Tanggal</p>
                                            <p class="text-dua-tanggal">Kamis, 27 Desember 2022</p>
                                        </div>
                                    </div>
                                </div> -->
                                <h1 class="heading-text-upload-image">No. Rekening tujuan</h1>
                                <div class="wrapper-rekening-tujuan-bank d-flex">
                                    <img class="logo-bank" src="/assets/Logo-BRI-Bank-Rakyat-Indonesia-PNG-Terbaru.png"
                                        alt="">
                                    <div class="wrapper-text-rekening-tujuan-bank d-flex flex-column">
                                        <p class="text-upload-image">BANK REPUBLIK INDONESIA</p>
                                        <p class="text-dua-upload-image">002 98121 2382 1308 1230</p>
                                    </div>
                                </div>
                                <h1 class="heading-text-upload-image">Upload Bukti Transfer</h1>
                            </div>
                        </div>

                        <form name="upload" method="post" action="#" enctype="multipart/form-data" accept-charset="utf-8">
                            <div class="container-animation-upload">
                                <div class="image-uploader-custom">
                                    <div class="btn-container">
                                        <!--the three icons: default, ok file (img), error file (not an img)-->
                                        <h1 class="imgupload"><img src="/assets/bi_cloud-upload.png" alt=""></h1>
                                        <h1 class="imgupload ok"><i class="fa fa-check"></i></h1>
                                        <h1 class="imgupload stop"><i class="fa fa-times"></i></h1>
                                        <!--this field changes dinamically displaying the filename we are trying to upload-->
                                        <p id="namefile">Only pics allowed! (jpg,jpeg,bmp,png)</p>
                                        <!--our custom btn which which stays under the actual one-->
                                        <button type="button" id="button-upload-pembayaran">Browse for your pic!</button>
                                        <!--this is the actual file input, is set with opacity=0 beacause we wanna see our custom one-->
                                        <input type="file" onchange="readURL(this);" value="" name="fileup" id="fileup">
                                    </div>
                                </div>
                            </div>
                            <p class="text-center">The image uploaded will be rendered inside the box
                                below.</p>
                            <div class="image-area mt-4"><img id="imageResult" src="#" alt=""
                                    class="img-fluid mx-auto d-block"></div>
                            <!--additional fields-->
                            <div class="d-flex justify-content-center">
                                <!--the defauld disabled btn and the actual one shown only if the three fields are valid-->
                                <input type="button" value="Submit!" id="submitbtn">
                                <button type="button" id="fakebtn">Submit! <i class="fa fa-minus-circle"></i></button>
                            </div>
                        </form>
                    </div>
                <% } %>

                <!--==== Waktu Show ====-->
                <% if ((checkout_result.is_confirmed == null) || ((checkout_result.is_confirmed == true) && (checkout_result.is_approved == null)) || ((checkout_result.is_paid == true) && (checkout_result.is_finished == null)) || (checkout_result.is_finished == false) || ((checkout_result.is_confirmed == true) && (checkout_result.is_approved == false)) || (checkout_result.is_finished == true)) { %>
                    <div class="waktu-order-content-container">
                        <p class="text-waktu">Waktu</p>
                        <div class="jam-tanggal-container d-flex align-items-center">
                            <img class="clock-image" src="/assets/clock.png" alt="">
                            <div class="jam-content-container d-flex flex-column ">
                                <p class="text-satu-jam">Jam</p>
                                <p class="text-dua-jam"><%= checkout_result.time %></p>
                            </div>
                            <img class="calendar-image" src="/assets/calendar.png" alt="">
                            <div class="tanggal-content-container d-flex flex-column">
                                <p class="text-satu-tanggal">Tanggal</p>
                                <p class="text-dua-tanggal"><%= checkout_result.date %></p>
                            </div>
                        </div>
                        <p class="text-streamer">Streamer</p>
                        <div class="wrapper-foto-streamer-profil d-flex">
                            <img class="foto-streamer" src="/assets/streamer-foto.png" alt="">
                            <div class="container-nama-profil">
                                <p class="text-profil-nama"><%= checkout_result.Streamer.streamer_fullname %></p>
                                <a href="">
                                    <button class="button-profile" type="button">Profil</button>
                                </a>
                            </div>
                        </div>
                    </div>
                <% } %>
                
                <!-- === Link Zoom === -->
                <% if ((checkout_result.is_paid == true) && (checkout_result.is_finished == null) || (checkout_result.is_finished == false) || (checkout_result.zoom_link.length != 0) || (checkout_result.is_finished == true)) { %>
                    <div class="link-zoom-container">
                        <p class="heading-text-zoom">Link Zoom</p>
                        <div class="link-zoom-content-container d-flex align-items-center">
                            <img class="zoom-image" src="/assets/clock.png" alt="">
                            <div class="link-zoom-text-container d-flex flex-column ">
                                <p class="text-satu-zoom">Zoom</p>
                                <a class="text-dua-zoom" href="#">https://us02web.zoom.us/j/85357866869</a>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>

            <!-- === Pembayaran Card=== -->
            <%
            let destination_totalprice = 0
            let optionalpackages_totalprice = 0

            spottrip_result.forEach((spot) => {
                destination_totalprice += spot.price
            })
            
            optionalpackage_result.forEach((package) => {
                optionalpackages_totalprice += package.price
            })
            %>

                <div class="pembayaran-order-wrapper">
                    <p class="text-pembayaran">Pembayaran</p>
                    <div class="wrapper-content-pembayaran-order">
                        <div class="destinasi-price d-flex justify-content-between">
                            <p class="text-kiri">Destinasi</p>
                            <p class="text-kanan">IDR <%= destination_totalprice %></p>
                            
                        </div>
                        <div class="service-tambahan-price d-flex justify-content-between">
                            <p class="text-kiri">Servis Tambahan</p>
                            <p class="text-kanan">IDR <%= optionalpackages_totalprice %></p>
                        </div>
                        <div class="shipping-price d-flex justify-content-between">
                            <p class="text-kiri">Shipping</p>
                            <p class="text-kanan">IDR 0</p>
                        </div>
                        <div class="total-price d-flex justify-content-between">
                            <p class="text-kiri-total">Total</p>
                            <p class="text-kanan-harga">IDR <%= checkout_result.total_price %></p>
                        </div>
                        <% if (checkout_result.is_confirmed == null) { %>
                            <div class="wrapper-button-pesan-tiket">
                                <form action="/checkout/user_confirmation/cancelorder/<%= checkout_result.id %>" method="POST">
                                    <button class="button-batalkan">Batalkan</button>
                                </form>
                                <form action="/checkout/user_confirmation/<%= checkout_result.id %>" method="POST">
                                    <button class="button-pesan-tiket">Pesan Tiket</button>
                                </form>
                            </div>
                        <% } %>
                        <% if ((checkout_result.is_confirmed == true) && (checkout_result.is_approved == null)) { %>
                            <div class="wrapper-button-pesan-tiket-batalkan">
                                <form action="/checkout/user_confirmation/cancel/<%= checkout_result.id %>" method="POST">
                                    <button class="button-batalkan-dua">Batalkan</button>
                                </form>
                            </div>
                        <% } %>
                        <% if (((checkout_result.is_confirmed == true) && (checkout_result.is_approved == true) && (checkout_result.is_paid == null)) || ((checkout_result.is_paid == null) && (checkout_result.payment_image.length != 0)) || ((checkout_result.is_paid == false) && (checkout_result.payment_image.length != 0))) { %>
                            <div class="wrapper-button-lihat-detail-pesanan">
                                <a href="#">
                                    <button class="button-lihat-detail">Lihat Detail Pesanan</button>
                                </a>
                            </div>
                        <% } %>
                        <% if (checkout_result.is_finished == false) { %>
                            <div class="wrapper-button-trip-selesai">
                                <a href="#">
                                    <button class="button-trip-selesai">Trip Selesai</button>
                                </a>
                            </div>
                        <% } %>
                    </div>
                </div>
        </div>

        <!-- === Destinasi-card === -->
        <% if ((checkout_result.is_confirmed == null) || ((checkout_result.is_confirmed == true) && (checkout_result.is_approved == null)) || ((checkout_result.is_paid == true) && (checkout_result.is_finished == null)) || (checkout_result.is_finished == false) || (checkout_result.is_finished == true)) { %>
            <div class="destinasi-service-tambahan-wrapper">
                <div class="destinasi-wrapper">
                    <div class="destinasi-harga d-flex justify-content-between">
                        <p class="heading-text-destinasi">Destinasi</p>
                        
                        <p class="text-kanan-harga-kecil">IDR <%= destination_totalprice %></p>
                    </div>
                    <% spottrip_result.forEach((spot) => { %>
                        <div class="container-jalan-destinasi-satu d-flex align-items-center">
                            <img src="/images/<%= spot.image %>" alt="" style="width: 35%;">
                            <div class="content-jalan-destinasi-satu">
                                <p class="content-text-jalan-destinasi"><%= spot.name %></p>
                                <a href="">
                                    <button class="button-destinasi-content"><%= spot.Destination.destination_name %></button>
                                </a>
                                <p class="content-text-jalan-destinasi">IDR <%= spot.price %></p>
                            </div>
                        </div>
                    <% }) %>
                    <!-- <div class="container-jalan-destinasi-satu d-flex align-items-center">
                        <img src="/assets/alun-alun-bandung.png" alt="">
                        <div class="content-jalan-destinasi-satu">
                            <p class="content-text-jalan-destinasi">Alun-alun Bandung</p>
                            <a href="">
                                <button class="button-destinasi-content">Kota Bandung</button>
                            </a>
                            <p class="content-text-jalan-destinasi">IDR 135.000</p>
                        </div>
                    </div> -->
                </div>
                <!-- === Service Tambahan === -->
                <div class="service-tambahan-wrapper">
                    <div class="service-tambahan-harga d-flex justify-content-between">
                        <p class="heading-text-service-tambahan">Service Tambahan</p>
                        <p class="text-kanan-harga-kecil">IDR <%= optionalpackages_totalprice %></p>
                    </div>
                    <div class="container-all-service-tambahan">
                        <% optionalpackage_result.forEach((package) => { %>
                            <div class="d-flex align-items-center" style="margin-bottom: 30px;">
                                <img src="/images/<%= package.image %>" alt="<%= package.name %>" style="height: 300px;">
                                <div class="content-service-tambahan-satu">
                                    <p class="heading-content-service-tambahan"><%= package.name %></p>
                                    <!-- <p class="text-content-service-tambahan">2 Items</p> -->
                                    <p class="heading-content-service-tambahan">IDR <%= package.price %> <span>/item</span></p>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>
                <!-- === Alamat pengirim === -->
                <% if (!optionalpackage_result) { %>
                    <div class="alamat-pengiriman-wrapper" style="display: none;">
                <% } else { %>
                    <div class="alamat-pengiriman-wrapper">
                <% } %>
                        <div class="alamat-pengiriman-content d-flex flex-column">
                            <p class="heading-alamat-pengiriman">Alamat Pengiriman</p>
                            <p class="text-content-alamat-pengiriman">Alamat</p>
                        </div>
                        <div class="container-all-service-tambahan d-flex align-items-center">
                            <form action="">
                                <textarea id="input-address-text" placeholder="Masukan alamat kamu disini" cols="110"
                                    rows="4"></textarea>
                                <a href="#">
                                    <input id="submit-address" type="submit" value="Simpan Alamat">
                                </a>
                                <!-- <a href="#">
                                    <input id="perbarui-address" type="submit" value="Perbarui Alamat">
                                </a> -->
                            </form>
                        </div>
                    </div>
            </div>
        <% } %>
    </div>
    </div>
    <footer>
        <div class="footer-container">
            <!-- <img src="/images/logo-footer.png" alt="" class="logo"> -->
            <div class="footer-logo-container">
                <h1 class="footer-logo" href="#home">Vir<span>toural</span></h1>
            </div>
            <div class="footer-text-container">
                <p class="footer-text">Lorem ipsum dolor sit amet consectetur </p>
                <p class="footer-text">adipisicing elit, sed do eiusmod tempor incididunt . </p>
            </div>
            <div class="navbar-footer">
                <div class="navbar-link">
                    <ul class="navbar-links">
                        <li><a href="#home">Home</a></li>
                        <li><a href="#discover">Discover</a></li>
                        <li><a href="#about">About Us</a></li>
                        <li><a href="#help">Help Center</a></li>
                    </ul>
                </div>
                <div class="navbar-icon">
                    <div class="footer-icon">
                        <a href="#"><img src="/images/facebook.png" alt=""></a>
                        <a href="#"><img src="/images/twitter.png" alt=""></a>
                        <a href="#"><img src="/images/instagram.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascript/main-orderpage.js"></script>
    <script src="/javascript/whole-page.js"></script>
    <script src="/javascript/custom-upload.js"></script>
</body>

</html>