<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/popup.css">
    <link rel="stylesheet" href="/css/user-profile.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Virtorual - User Profile</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/logo-virtoural.png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <%- include("./template/navbar.ejs") %>

        <div class="user-profile-container">
            <div class="user-profile">
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="" class="user-profile-img">
                <h1 class="user-profile-nama">Angel Brillian</h1>
                <!-- <p class="user-profile-kota">Nganjuk</p> -->
                <div class="user-profile-button">
                    <button class="user-profile-button-foto">Ubah Foto Profile</button>
                    <button type="button" class="user-profile-button-password">Ubah Password </button>
                </div>
            </div>
            <div class="user-profile-card">
                <div class="user-profile-card-content">
                    <h1 class="user-profile-data">Data Pribadi</h1>
                    <p class="user-profile-data-ubah">Ubah data pribadi kamu disini</p>
                    
                    <form action="/user/profile/<%= user_result.uuid %>" method="POST">
                        <div class="user-profile-form">
                            <div class="user-profile-form-left">
                                <label for="">Nama Lengkap</label>
                                <input type="text" name="user_fullname" id="" placeholder="Nama Lengkap" value="<%= user_result.user_fullname %>">
                                <label for="">Jenis Kelamin</label>
                                <select name="gender" id="">
                                <% if (user_result.gender.length == 0) { %>
                                        <option value="">Pilih Jenis Kelamin</option>
                                        <option value="pria">pria</option>
                                        <option value="wanita">wanita</option>
                                    </select>
                                <% } else { %>
                                        <% if (user_result.gender == "pria") {  %>
                                            <option value="pria">pria</option>
                                            <option value="wanita">wanita</option>
                                        <% } else if (user_result.gender == "wanita") { %>
                                            <option value="wanita">wanita</option>
                                            <option value="pria">pria</option>
                                        <% } %>
                                    </select>
                                <% } %> 
                            </div>
                            <div class="user-profile-form-right">
                                <label for="">Alamat Email</label>
                                <input type="email" name="user_email" id="" placeholder="alamat email" value="<%= user_result.user_email %>">
                                <label for="">Nomor Telepon</label>
                                <input type="tel" name="phone_number" id="" placeholder="Nomor Telepon" value="<%= user_result.phone_number %>">
                            </div>
                        </div>
                        <div class="user-profile-alamat">
                            <label for="">Alamat</label>
                            <textarea name="user_address" id="" cols="30" rows="5">
                                <%= user_result.user_address %>
                            </textarea>
                        </div>
                        <label for="" class="user-profile-form-kota">Kota Asal</label>
                        <div class="user-profile-form-align">
                            <input type="text" name="city" id="" placeholder="Kota Asal" value="<%= user_result.city %>">
                            <button type="submit">Simpan</button>
                        </div>
                    </form>
                </div>
                <div class="user-profile-card-content">
                    <h1 class="user-profile-data">Riwayat Pesanan</h1>
                    <p class="user-profile-data-ubah">Lihat riwayat pesanan kamu disini</p>
                    
                    <div class="user-profile-riwayat">
                        <div class="user-profile-riwayat-kota">
                            <h1>Bromo, Malang</h1>
                            <p>Wade Warren</p>
                            <h1>Lembang, Bandung</h1>
                            <p>Esther Howard</p>
                            <h1>Gunung Ijen, Banyuwangi</h1>
                            <p>Jeny Wilson</p>
                            <h1>Monas, Jakarta</h1>
                            <p>Guy Hawkins</p>
                            <h1>Danau Toba, Medan</h1>
                            <p>Jane Cooper</p>
                            <h1>Pantai Kuta, Bali</h1>
                            <p>Jacob Jones</p>
                        </div>
                        <div class="user-profile-riwayat-tanggal">
                            <h1>Tanggal</h1>
                            <p>27 Desember 2021</p>
                            <h1>Tanggal</h1>
                            <p>26 Desember 2021</p>
                            <h1>Tanggal</h1>
                            <p>25 Desember 2021</p>
                            <h1>Tanggal</h1>
                            <p>24 Desember 2021</p>
                            <h1>Tanggal</h1>
                            <p>23 Desember 2021</p>
                            <h1>Tanggal</h1>
                            <p>22 Desember 2021</p>
                        </div>
                        <div class="user-profile-riwayat-btn">
                            <button>Detail</button>
                            <button>Detail</button>
                            <button>Detail</button>
                            <button>Detail</button>
                            <button>Detail</button>
                            <button>Detail</button>
                        </div>
                    </div>
                    <div class="user-profile-pagination">
                        <div class="pagination-hover-overlay"></div>
                        <a href="#" class="user-profile-pagination-prev">
                            <span class="icon-pagination">
                                <i class="icon material-icons">
                                    keyboard_arrow_left
                                </i>
                            </span>
                        </a>
                        <a href="" class="user-profile-pagination-page">1</a>
                        <a href="" class="user-profile-pagination-page">2</a>
                        <a href="#" class="user-profile-pagination-prev-2">
                            <span class="icon-pagination">
                                <i class="icon material-icons">
                                    keyboard_arrow_left
                                </i>
                            </span>
                        </a>
                    </div>
                </div>

            </div>
        </div>

        <%- include("./template/footer.ejs") %>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="/javascript/userProfile.js"></script>
            <script src="/javascript/main.js"></script>
</body>

</html>