@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.fitur {
  width: 100%;
}

.fitur-container {
  padding: 120px 0 120px 0;
  width: 88%;
  margin: auto;
  align-items: center;
}

.fitur-container > h2,
.fitur-container > p {
  text-align: center;
}

.fitur-container > h2 {
  color: #373f41;
  font-size: 44px;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-transform: capitalize;
  font-weight: 600;
}

.fitur-container > p {
  font-family: "Mulish", sans-serif;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.3px;
  color: #737b7d;
  /* margin: 0 20px 0 20px; */
  width: 60%;
  margin: auto;
}

.fitur-content {
  display: flex;
  justify-content: space-between;
}

.content {
  text-align: center;
  margin-top: 80px;
  width: 30%;
}

/* .fitur-content > .dua {
  margin-left: 50px;
  margin-right: 50px;
} */

.content > h3 {
  margin: 61px 0 25px 0;
  color: #34364a;
  font-size: 32px;
  line-height: 48px;
  font-weight: 600;
}

.content > p {
  font-size: 25px;
  line-height: 38px;
  color: #5d5d64;
  font-weight: 400;
}
