/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* System */
.product-description p { 
    font-family: 'Poppins', sans-serif;
    color: #373F41;
}

.product-description {
    height: 100vh;
    background: linear-gradient(72.41deg, rgba(0, 138, 216, 0.08) 3.08%, rgba(0, 138, 216, 0.0224) 100%);
    /* height: 1280px;
    width: 1920px; */
    /* background-color: #008AD814; */
}

/* .product-description .container-fluid {
    height: 100%;
    width: 100%;
}

.product-description .container-fluid .row {
    height: 100%;
    width: 100%;
}

.glass-image {
    border: 1px solid red;
}

.product-description-content {
    border: 1px solid red;
} */


/* Element */
.product-description .box {
    background: linear-gradient(18.93deg, #FFFFFF 2.04%, rgba(255, 255, 255, 0) 92.23%);
    backdrop-filter: blur(4px);
    /* background-color: white; */
    position: relative;
    width: 531px;
    height: 796px;
    border-radius: 265.5px;
    left: 20%;
    right: 65.47%;
}

.product-description .box1 {
    background: linear-gradient(13.01deg, #FFFFFF 0.44%, rgba(255, 255, 255, 0) 75.31%);
    backdrop-filter: blur(4px);
    /* background-color: white; */
    position: absolute;
    width: 383px;
    height: 558px;
    border-radius: 196.5px;
    bottom: -90px;
    right: -120px;
}

.product-description .box2 {
    background-color: white;
    position: absolute;
    width: 114px;
    height: 114px;
    bottom: 40px;
    left: 0px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);

}

.product-description .box3 {
    background-color: white;
    position: absolute;
    width: 325px;
    height: 102px;
    border-radius: 150px;
    top: 80px;
    right: -135px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.09);
}

.product-description .box img {
    border-radius: 200px;
    width: 90%;
    position: absolute;
    top: 3.5%;
    left: 5%;
}

.product-description .box1 img {
    width: 85%;
    position: absolute;
    top: 5%;
    left: 7.5%;
}

.product-description .box2 img {
    width: 65%;
    position: absolute;
    top: 17.5%;
    left: 17.5%;
}

.product-description .box3 img {
    border-radius: 0%;
    width: 19%;
    position: absolute;
    top: 20%;
    left: 11%;
}

/* Text */
.product-description-content{
    left: 50px;
}

.product-description-content p {
    text-align: justify;
    letter-spacing: 0.3px;
    line-height: 160%;
}

.product-description-content h2 {
    width: 70%;
    font-family: 'Poppins', sans-serif;
    font-size: 44px;
    font-weight: 600;
    line-height: 66px;
    letter-spacing: 1px;
    color: #373F41;
}

.product-description .box3 p {
    font-family: 'Poppins', sans-serif;
    font-size: 34px;
    font-weight: 600;
    position: absolute;
    left: 32%;
    top: 28%;
    letter-spacing: 0.56px;
}

.product-description .vr { 
    background-color: #E4E4E4;
    border-radius: 8px;
    width: 3px;
    opacity: 100%;
}

.product-description-content div p {
    font-size: 22px;
    max-width: 80%;
    color: #737B7D;
}

.product-statistic div h2 {
    font-family: 'Mulish', sans-serif;
    color: #008AD8;
    font-weight: bold;
    font-size: 40px;
}

.product-statistic div p {
    font-family: 'Mulish', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 22px;
}