@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  /* box-sizing: border-box; */
}

section.spot-trip {
  width: 100%;
  /* border: 1px solid rgb(255, 0, 98); */
}

div.spot-trip {
  height: 29vw;
  width: 100%;
  /* position: absolute; */
  /* top: 1080px; */
  bottom: 100px;
  display: flex;
  align-items: center;
}

.spot-trip-container {
  margin: auto;
  height: 58%;
  width: 85%;
}

.spot-trip-title {
  font-size: 2.3vw;
  text-align: center;
  line-height: 2.86vw;
  letter-spacing: 0.05vw;
}

.spot-trip-content {
  margin-top: 1.3vw;
  /* border: 1px solid rgb(0, 183, 255); */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.spot-trip-button {
  font-size: 1.3vw;
  font-weight: 400;
  line-height: 2.86vw;
  letter-spacing: 1px;
  padding: 0.78vw 1.3vw;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 100px;
  background-color: #ebf6fc;
  margin-top: 1.3vw;
  margin-right: 1.56vw;
}

.spot-trip-button.active {
  background-color: #008ad8;
  color: white;
}

.spot-trip-card-container {
  padding: 4vw 5vw 6vw 5vw;
  background-image: linear-gradient(to right, #008ad814, #008ad806);
}

.hide {
  display: none;
}

.spot-trip-card-title {
  font-size: 2.3vw;
  font-weight: 600;
  line-height: 3.43vw;
  letter-spacing: 0.05vw;
  text-align: center;
}

.spot-trip-card-des {
  font-size: 1.14vw;
  text-align: center;
  font-weight: 400;
  line-height: 1.71vw;
  letter-spacing: 0.05vw;
  color: #737b7d;
  margin-top: 1vw;
}

.spot-trip-card-content {
  display: flex;
  justify-content: space-between;
  margin-top: 2vw;
}

.spot-trip-card-left {
  text-align: justify;
  margin-left: 2.5vw;
}

.spot-trip-card-left > p:nth-child(odd) {
  line-height: 1.8vw;
  letter-spacing: 0.05vw;
  font-weight: 700;
  font-size: 1.25vw;
  color: #34364a;
  margin-bottom: 0.6vw;
}

.spot-trip-card-left > p:nth-child(even) {
  line-height: 1.7vw;
  font-size: 1.1vw;
  font-weight: 400;
  color: #34364a;
  margin-bottom: 2vw;
}

.spot-trip-card-left > button {
  padding: 0.83vw 2.1vw;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 100px;
  margin-top: 2vw;
  background-image: linear-gradient(to right, #ffb229, #f8e66f);
}

.spot-trip-card-left a {
  text-decoration: none;
  color: black;
  font-size: 1vw;
  font-weight: 500;
  line-height: 1.56vw;
}

.spot-trip-card-left-des {
  position: relative;
  margin-bottom: 1vw;
}

.spot-trip-card-left-des > img {
  width: 1.3vw;
  height: 1.3vw;
}

.spot-trip-card-left-des > p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1vw;
  font-weight: 400;
  font-size: 1.14vw;
  line-height: 1.5vw;
  letter-spacing: 0.01vw;
  display: inline-block;
  position: absolute;
  top: 0.2vw;
  margin-left: 1vw;
}

/* .spot-trip-card-left-des > p {
  display: inline-block;
  border: 2px solid rgb(255, 255, 0);
} */

.spot-trip-card-right > img {
  height: 28vw;
}

.spot-trip-card-small-img {
  display: flex;
  margin-top: 3px;
}

.spot-trip-card-small-img img {
  height: 8.7vw;
  width: 100%;
}
.spot-trip-card-small-img img:nth-child(2) {
  margin: 0 1vw;
}
