:root {
  --gradient: linear-gradient(360deg, #222534 0%, rgba(34, 37, 52, 0) 100%);
}

.eight-streamers-container{
  padding: 0 7%;
}

.eight-streamer-title {
  font-weight: 600;
  font-size: 44px;
  line-height: 66px;
}

.eight-streamers-p {
  font-weight: normal;
  font-size: 22px;
  line-height: 33px;
  color: #737b7d;
  margin-bottom: 80px;
}

#streamerhide {
  display: none;
}

.eight-streamers-container {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.eight-streamers-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px 20px;
  margin: 0 5% 0;
  /* border: 2px solid black; */
}

.wrapper-eight-streamers-card-box {
  border-radius: 30px;
  /* border: 2px solid blue; */
  position: relative;
  width: 408px;
  height: 540px;
  display: flex;
  align-items: flex-end;
}

.wrapper-eight-streamers-content {
  /* border: 2px solid yellow; */
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper-eight-streamers-content .wrapper-klien-spot-wisata {
  display: flex;
  margin-top: 23px;
  /* border: 2px solid red; */
  width: 100%;
}

.wrapper-eight-streamers-content .grid-klien-spot-wisata {
  display: grid;
  grid-template-columns: 50% 50%;
  /* border: 2px solid aqua; */
  width: 100%;
}

.wrapper-eight-streamers-content .klien {
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  justify-content: flex-start;
  align-items: center;
  margin-left: 50px;
}

.wrapper-eight-streamers-content .text-klien {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  width: fit-content;
  margin-top: 0;

  /* identical to box height, or 167% */

  text-align: center;
  letter-spacing: 0.3px;

  /* White */

  color: #ffffff;
}

.wrapper-eight-streamers-content .angka-klien {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin-top: 0;
  width: fit-content;
  /* identical to box height, or 125% */

  text-align: center;
  letter-spacing: 0.3px;

  /* White */

  color: #ffffff;
}

.wrapper-eight-streamers-content .spot-wisata {
  display: flex;
  flex-direction: column;
  /* border: 2px solid blue; */
  justify-content: flex-start;
  align-items: center;
  margin-right: 50px;
}

.wrapper-eight-streamers-content .text-spot-wisata {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  width: fit-content;
  margin-top: 0;
  /* identical to box height, or 167% */

  text-align: center;
  letter-spacing: 0.3px;

  /* White */

  color: #ffffff;
}

.wrapper-eight-streamers-content .angka-spot-wisata {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  width: fit-content;
  margin-top: 0;
  /* identical to box height, or 125% */

  text-align: center;
  letter-spacing: 0.3px;

  /* White */

  color: #ffffff;
}

.eight-streamer-name {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  /* identical to box height, or 115% */

  text-align: center;
  letter-spacing: 0.3px;

  /* White */

  color: #ffffff;
  /* border: 2px solid pink; */
}

.star-icon {
  display: flex;
  line-height: 0;
  color: #f2c94c;
  margin-top: 22.6px;
}

.wrapper-eight-streamers-content .material-bintang {
  margin: 0 4px 0;
}

.background-img-streamer {
  object-fit: cover;
  border-radius: 30px;
  width: 100%;
  height: 100%;
}

.eight-streamer-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  width: 191px;
  height: 85px;
  margin-top: 135px;
  margin-bottom: 165px;
  border: 2px solid #008AD8;;
}

.eight-streamer-menu h1 {
  margin: auto;
  font-size: 25px;
  text-align: center;
}

.eight-streamer-menu span {
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
}
