@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #00304a;
  /* background-color: #1e2833; */
  height: 572px;
  color: white;
  text-align: center;
}

.footer-logo-container {
  border: 1px solid transparent;
  height: 100%;
}

.footer-logo {
  margin-top: 80px;
  /* border: 2px solid red; */
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 63px;
  line-height: 45px;
  letter-spacing: 2.25px;
  color: #008ad8;
}

.footer-logo span {
  color: #ffb229;
  /* height: fit-content; */
}

.footer-text-container {
  margin-top: 41px;
}

.navbar-footer a {
  color: #fff;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.footer-text {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  line-height: 36px;
  margin-top: 41px;
  margin: 0;
  padding: 0;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.navbar-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 68px;
}

.navbar-footer .navbar-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-footer .navbar-links {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.navbar-footer .navbar-links a {
  font-size: 18px;
  color: #ffff!important;
}

.navbar-footer .navbar-links li {
  margin: 0 50px;
  margin-bottom: 83px;
}

.navbar-footer .navbar-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-icon a {
  margin: 0 30px 60px 30px;
}
