@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* outline: 1px solid red; */
  margin: 0;
  padding: 0;
}

#jumbotron-destinasi {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  /* border: 2px solid red; */
}

#jumbotron-destinasi #jumbowrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  /* height: 400px; */
  max-width: 1267px;
  color: #fff;
  position: absolute;
}

#jumbotron-destinasi .jumbotext {
  display: flex;
  flex-direction: column;
}

#jumbotron-destinasi .jumbotext h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 75px;
  max-width: 1267px;
  margin-bottom: 40px;
  font-weight: 900;

  text-align: center;
  letter-spacing: 2px;

  color: #ffffff;

  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

#jumbotron-destinasi .jumbotext h4 {
  margin-top: 50px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 50px;
  width: 1326px;
  /* or 179% */

  text-align: center;
  letter-spacing: 0.3px;
  color: #ffffff;
}

#jumbotron-destinasi .img-jumbotron-destinasi {
  width: 100%;
  height: 100%;
}

/* .background-img-jb{
    position:absolute;
    z-index: -1;
    max-height: 974px;
    max-width: 100vw;
    top: 0;
    left: 0;
} */
