@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /* outline: 1px solid red; */
    margin: 0;
    padding: 0;
}

#jumbotron-homepage {
    height: 100vh;
    display: flex;
    /* border: 2px solid red; */
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    position: relative;
    /* background-image: url("../images/pexels-dimitri-dim-4741215\ 1.png"); */
    /* background-repeat:no-repeat; */
    /* background-size: cover; */
}

#jumbowrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 400px;
    max-width: 1267px;
    color: #fff;
    /* border: 2px solid red; */
    position: absolute;
}

#jumbotron-homepage .jumbotext{
    display: flex;
    flex-direction: column;
}

#jumbotron-homepage .jumbotext h1 {
font-style: normal;
font-weight:bold;
font-size: 56px;
line-height: 75px;
max-width: 1267px;
margin-bottom: 40px; 
font-weight: 900;

text-align: center;
letter-spacing: 2px;

color: #FFFFFF;

text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

#jumbotron-homepage .jumbotext h4 {
font-family: Mulish;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 30px;
max-width: 1267px;

text-align: center;
letter-spacing: 0.3px;

color: #FFFFFF;

}

#jumbotron-homepage .img-jumbotron-homepage{
    /* position:absolute;
    z-index: -1;
    max-height: 974px;
    max-width: 100vw;
    top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
}

#jumbotron-homepage .jumbobtn {
    display: flex;
    justify-content: center;
    /* max-width: 601px; */


}

#jumbotron-homepage .btn-grad {background-image: linear-gradient(to right, #F09819 0%, #EDDE5D  51%, #F09819  100%)}

#jumbotron-homepage .btn-grad {
    /* line-height: 1; */
    height: 62px;
    box-sizing: border-box;
    border: none;
    padding: 10px 30px;
    text-align: center;
    background-size: 200% auto;
    color: black;            
    border-radius: 100px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 288px;
    max-width: 288px;
    transition: 0.5s;
    
}

#jumbotron-homepage .btn-grad:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

#jumbotron-homepage .btn-sec {
    background-color: transparent;
    border: 2px solid #fff;
    box-sizing: border-box;
    padding: 10px 30px;
    text-align: center;
    color: white;     
    border-radius: 100px;
    width: 288px;
    max-width: 288px;
    transition: all 0.5s ease;
    height: 62px;
}

#jumbotron-homepage .btn-sec:hover{
    color: black;
    box-shadow: inset 288px 0 0 0 white;
    /* background-color: white; */
}
