@import url("https://fonts.googleapis.com/css?family=Poppins");

*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /* outline: 1px solid red; */
}

body{
    margin: 0;
    padding: 0;

}

.mulaitrip-section{
    margin: 120px 100px ;
    background: #FFFFFF;
/* Effect Card */

box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.07);
border-radius: 30px;
padding: 76px 79px 100px 79px;

}

.mulaitrip-title{
    font-style: normal;
font-weight: 600;
font-size: 44px;
line-height: 66px;

text-align: center;
letter-spacing: 1px;

margin-top: 0px;
margin-bottom: 80px;

color: #000000;

}

.mulaitrip-subtitle{
    margin-bottom: 30px;
    font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 42px;
letter-spacing: 0.5px;

color: #000000;
}

.mulaitrip-subtitle-bawah{
    margin-top: 80px;
    margin-bottom: 30px;
    font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 42px;
letter-spacing: 0.5px;

color: #000000;
}

.mulaitrip-input{
    display: flex;
    justify-content: space-between;
    gap: 47px;
    margin-bottom: 80px;
}

.mulaitrip-input .mulaitrip-date{
    flex-grow: 1;
}

.mulaitrip-input .mulaitrip-time{
    flex-grow: 1;
}

.mulaitrip-date, .mulaitrip-time {
    border: 3px solid #E4E4E4;
box-sizing: border-box;
border-radius: 8px;
text-align: center;
padding-top: 17px;
padding-bottom: 17px;

}

.mulaitrip-list{
    display: flex;
    gap: 17px;
    /* flex-wrap: wrap; */
}

.card img{
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.card-body{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 35px 44px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    align-items: stretch;
}

.card{
border-radius: 30px!important;
height: 500px;
/* flex-grow: 1; */
width: 377px;
position: relative;
}

.card-title{
    font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 30px;
margin-bottom: 8px;

text-align: center;
letter-spacing: 0.3px;

color: #FFFFFF;
}

.card-subtitle{
    font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
margin-top: 0px;
margin-bottom: 34px;

text-align: center;
letter-spacing: 0.3px;

color: #FFFFFF;
}

.active{
    border: 6px solid #ffb229 !important;
}

.card-price{
    font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 30px;
margin-bottom: 36px;
margin-top: 0px;

text-align: center;
letter-spacing: 0.3px;
background-image: linear-gradient(to right, #FFB229, #F8E66F  100%);;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.card-buttons{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.card-button-primary{
    display: inline-block;
    font-weight: 500;
    line-height: 1.5;
    color: white;
    text-align: center;
    background-color: #008AD8;
    border: 1px solid transparent;
    padding: 10px 0px;
    font-size: 20px;
    border-radius: 30px;
    width: 140px;
}

.card-buttons .card-button-secondary {
    display: inline-block;
    font-weight: 500;
    line-height: 1.5;
    color: black;
    text-align: center;
    background-color: white;
    border: 1px solid transparent;
    padding: 10px 25px;
    font-size: 18px;
    border-radius: 30px;
    width: 340px;
}

.button-primary{
    display: inline-block;
    font-weight: 500;
    line-height: 1.5;
    color: white;
    text-align: center;
    margin-top: 80px;
    border: 1px solid transparent;
    padding: 10px 0px;
    font-size: 20px;
    border-radius: 30px;
    max-width: 524px;
    background: linear-gradient(to right, #0A91DD 0%, #4BBDFE 50%, #0A91DD 100%);
    background-size: 200% auto;
    transition: 0.5s;
    flex-grow: 1;
border-radius: 100px;

}

.button-primary:hover {
    background-position: right center;
}

.button-order-tiket{
    display: flex;
    justify-content: center;
}

.checkbox {
    display: none;
  }
  
  .checkbox + label {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    border-radius: 100px;
    border: 1px solid transparent;
    font-size: 18px;
    cursor: pointer;
    color: white;
    min-width: 140px;
  }
  
  .checkbox:checked + label {
    background: linear-gradient(82.74deg, #ffb229 11.84%, #f8e66f 134.55%);
  }
  
  .checkbox:not(:checked) + label {
    background: linear-gradient(83.98deg, #0a91dd 12.34%, #4bbdfe 87.36%);
  }
