* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primcolor: #008AD8;
    --seccolor: #FFB229;
    --white: #fff;
    --gray: #737B7D;

    --jumbotext: 56px;
    --jumbotext2: 28px;
    --sectiontitle: 44px;
    --sectiontext: 22px;

    --bluelightgrad: linear-gradient(72.41deg, rgba(0, 138, 216, 0.08) 3.16%, rgba(0, 138, 216, 0.0224) 100.08%);
    --goldgrad: linear-gradient(to right, #F09819 0%, #EDDE5D  51%, #F09819  100%);
    --bluegrad: linear-gradient(83.98deg, #0A91DD 12.34%, #4BBDFE 87.36%);
}


/* /////////////////////////////////////////////////TOP BUTTON */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 2;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #1E2833;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
}

#myBtn:hover {
    background-color: #EDDE5D;
}

/* /////////////////////////////////////////////////POP UP MODAL */

.modal-bg {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background: rgba(0, 56, 87, 0.72);
}

.modalbox {
    background-color: #fff;
    width: 600px;
    margin: auto;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modalbox .cancelbtn {
    width: 100%;
    margin-bottom: 20px;
    color: #AAA;
    text-align: right;
    font-size: 44px;
}

.cancelbtn:hover {
    cursor: pointer;
    color: #EB5757;
}

.modaltitle {
    display: flex;
    justify-content: space-between;
}

.left-title {
    font-size: 36px;
    font-weight: 900;
}

.helperbtn {
    margin: auto 0 0 0;
}

.formcontainer label {
    margin: 20px 0;
}

.formcontainer input {
    display: block;
    width: 100%;
    height: 60px;
    border-radius: 100px;
    border: 1px solid #aaa;
    padding: 0 20px;
    color: #aaa;
}

.formcontainer {
    margin-bottom: 20px;
}

.modalform {
    margin-bottom: 60px;
}

.minatjadistreamer {
    margin-bottom: 20px;
}

.radioform {
    display: inline-block;
    width: 70px;
}

.lupapwd {
    display: block;
    text-align: right;
}

.loginbtnstrech {
    width: 100%;
    height: 60px;
    background: var(--bluegrad);
    border-radius: 100px;
    border: none;
    margin-bottom: 40px;
    color: white;
}

.loginbtnstrech:hover {
    background: var(--primcolor)
}

.modalfooter {
    display: block;
    text-align: center;
    color: #aaa;
}

.helper {
    color: var(--primcolor);
    font-weight: 700;
}

.helper:hover {
    cursor: pointer;
}

.form-psw {
    position: relative;
}

.field-icon {
    color: #AAA;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%) ;
}

.field-icon:hover {
    cursor: pointer;
}

::-webkit-calendar-picker-indicator {
    opacity: 0.3;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

textarea {
    padding: 20px;
    width: 100%;
    height: 200px;
    border-color: #AAA;
    border-radius: 25px;
    resize: none !important;
}

.selectgender {
    display: block;
    width: 100%;
    height: 60px;
    border-radius: 100px;
    padding-left: 20px;
    color: #aaa;
    border: 0;
    outline: 1px solid #AAA;
    border-right: 20px solid transparent;
}

.lupatitlewrapper {
    display: block;
    text-align: center;
    margin-bottom: 40px;
}

.lupatitle {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 18px;
}

.swal-icon--success {
    border-color: #a5dc86
  }
  
  .swal-icon--success:after, .swal-icon--success:before {
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 60px;
    height: 120px;
    background: #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  
  .swal-icon--success:before {
    border-radius: 120px 0 0 120px;
    top: -7px;
    left: -33px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 60px 60px;
    transform-origin: 60px 60px
  }
  
  .swal-icon--success:after {
    border-radius: 0 120px 120px 0;
    top: -11px;
    left: 30px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 60px;
    transform-origin: 0 60px;
    -webkit-animation: rotatePlaceholder 4.25s ease-in;
    animation: rotatePlaceholder 4.25s ease-in 
  }
  
  .swal-icon--success__ring {
    width: 80px;
    height: 80px;
    border: 4px solid hsla(98, 55%, 69%, .2);
    border-radius: 50%;
    box-sizing: content-box;
    position: absolute;
    left: -4px;
    top: -4px;
    z-index: 2
  }
  
  .swal-icon--success__hide-corners {
    width: 5px;
    height: 90px;
    background-color: #fff;
    padding: 1px;
    position: absolute;
    left: 28px;
    top: 8px;
    z-index: 1;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  
  .swal-icon--success__line {
    height: 5px;
    background-color: #a5dc86;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 2
  }
  
  .swal-icon--success__line--tip {
    width: 25px;
    left: 14px;
    top: 46px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation: animateSuccessTip .75s;
    animation: animateSuccessTip .75s
  }
  
  .swal-icon--success__line--long {
    width: 47px;
    right: 8px;
    top: 38px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: animateSuccessLong .75s;
    animation: animateSuccessLong .75s 
  }
  
  .swal-icon {
    width: 80px;
    height: 80px;
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;
    padding: 0;
    position: relative;
    box-sizing: content-box;
    margin: 20px auto
  }
  
  .swal-icon:first-child {
    margin-top: 32px
  }
  
  @keyframes animateSuccessLong {
    0% {
      width: 0;
      right: 46px;
      top: 54px
    }
    65% {
      width: 0;
      right: 46px;
      top: 54px
    }
    84% {
      width: 55px;
      right: 0;
      top: 35px
    }
    to {
      width: 47px;
      right: 8px;
      top: 38px
    }
  }
  
  @keyframes rotatePlaceholder {
    0% {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg)
    }
    5% {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg)
    }
    12% {
      -webkit-transform: rotate(-405deg);
      transform: rotate(-405deg)
    }
    to {
      -webkit-transform: rotate(-405deg);
      transform: rotate(-405deg)
    }
  }
  
  @keyframes animateSuccessTip {
    0% {
      width: 0;
      left: 1px;
      top: 19px
    }
    54% {
      width: 0;
      left: 1px;
      top: 19px
    }
    70% {
      width: 50px;
      left: -8px;
      top: 37px
    }
    84% {
      width: 17px;
      left: 21px;
      top: 48px
    }
    to {
      width: 25px;
      left: 14px;
      top: 45px
    }
  }

.containeremail {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.boxemail {
    position:relative;
    height:50px;
    width:40px;
    animation: box 2s infinite linear;
}

.border {
    background:#007298;
    position:absolute;
}

.border.one {
    height:4px;
    top:0;
    left:0;
    animation: border-one 2s infinite linear;
}

.border.two {
    top:0;
    right:0;
    height:100%;
    width:4px;
    animation: border-two 2s infinite linear;
}

.border.three {
    bottom:0;
    right:0;
    height:4px;
    width:100%;
    animation: border-three 2s infinite linear;
}

.border.four {
    bottom:0;
    left:0;
    height:100%;
    width:4px;
    animation: border-four 2s infinite linear;
}

.line {
    height:4px;
    background:#007298;
    position:absolute;
    width:0%;
    left:25%;
}

.line.one {
    top:25%;
    width:0%;
    animation: line-one 2s infinite linear;
}

.line.two {
    top:45%;
    animation: line-two 2s infinite linear;
}

.line.three {
    top:65%;
    animation: line-three 2s infinite linear;
}

@keyframes border-one {
    0%   {width:0;}
    10%  {width:100%;}
    100% {width:100%;}
}

@keyframes border-two {
    0%   {height:0;}
    10%  {height:0%;}
    20%  {height:100%;}
    100% {height:100%;}
}

@keyframes border-three {
    0%   {width:0;}
    20%  {width:0%;}
    30%  {width:100%;}
    100% {width:100%;}
}

@keyframes border-four {
    0%   {height:0;}
    30%  {height:0%;}
    40%  {height:100%;}
    100% {height:100%;}
}

@keyframes line-one {
    0%   {left:25%;width:0;}
    40%  {left:25%;width:0%;}
    43%  {left:25%;width:50%;}
    52%  {left:25%;width:50%;}
    54%  {left:25%;width:0% }
    55%  {right:25%;left:auto;}
    63%  {width:10%;right:25%;left:auto;}
    100% {width:10%;right:25%;left:auto;}
}

@keyframes line-two {
    0%   {width:0;}
    40%  {width:0%;}
    43%  {width:50%;}
    52%  {width:50%;}
    54%  {width:0% }
    60%  {width:50%}
    100% {width:50%;}
}

@keyframes line-three {
    0%   {width:0;}
    40%  {width:0%;}
    43%  {width:50%;}
    52%  {width:50%;}
    54%  {width:0% }
    100% {width:0%;}
}

@keyframes box {
    0%   {opacity:1;margin-left:0px;height:50px;width:40px;}
    55%  {margin-left:0px;height:50px;width:40px;}
    60%  {margin-left:0px;height:35px;width:50px;}
    74%  {msthin-left:0;}
    80%  {margin-left:-50px;opacity:1;}
    90% {height:35px;width:50px;margin-left:50px;opacity:0;}
    100% {opacity:0;}
}