@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

.container-Streamer-Profile {
    width: 100%; 
    height: 800px; 
    background: linear-gradient(72.41deg, rgba(0, 138, 216, 0.08) 3.08%, rgba(0, 138, 216, 0.0224) 100%); 
    border-radius: 0px 0px 100px 100px;
}

.container-Streamer-Profile img {
    object-fit: cover;
    width: 220px;
    height: 220px;
}

.nama-streamer {
    font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 75px;
/* identical to box height, or 150% */

text-align: center;
letter-spacing: 2px;
}

.button-mulai-trip {
    background: linear-gradient(to right, #0A91DD 0%, #4BBDFE 50%, #0A91DD 100%);
}

.button-mulai-trip {
border-radius: 100px;
width: 288px;
height: 62px;
border: none;
color: white;
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
transition: 0.5s;
background-size: 200% auto;
/* identical to box height */

letter-spacing: 0.01em;
}

.button-mulai-trip:hover {
    background-position: right center;
}

.nama-streamer-profile-container {
    margin-top: 10px;
    margin-bottom: 27px;
}

.wrapper-button-streamer-profile{
    margin-bottom: 231px;
}