@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

.container-all-streamer-galeri {
    /* border: 2px solid blue;  */
    margin: -190px 100px 0;
    /* width: 100%;  */
    height: fit-content;
}

.container-tentang-streamer {
    /* border: 2px solid pink;  */
    width: 100%;
    height: fit-content;
    background: #FFFFFF;
/* Effect Card */

/* box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.07); */
/* box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; */
box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.07);
border-radius: 30px;
}

.tentang-streamer {
    margin-top: 81px;
}

.judul-tentang-streamer {
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 44px;
line-height: 66px;
/* identical to box height */

text-align: center;
letter-spacing: 1px;

color: #000000;

}

.stack-all-content-streamer {
    /* border: 2px solid rebeccapurple; */
    
height: 120px;
margin: 40px 135px 85px;
}

.content-tentang-streamer {
    /* border: 2px solid orange; */
    width: 1081px;
height: 120px;
display: flex;
align-items: center;
margin-right: 55px;
}

.text-content-tentang-streamer {
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 180%;
/* or 40px */

text-align: justify;
letter-spacing: 1px;
}

.temukan-sosmed-streamer {
    /* border: 2px solid palegoldenrod; */
    width: 244px;
height: 107px;
margin-left: 55px;
}

.text-judul-sosmed {
    font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 42px;
/* identical to box height */

text-align: center;
letter-spacing: 0.5px;

color: #000000;

    text-align: center;
}

.container-logo-sosmed-streamer {
    display: flex;
    justify-content: center;
}

.img-logo-sosmed-streamer {
    width: 50px;
    height: 50px;
    margin: 0 7px 0;
}

.container-galeri-streamer {
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    width: 100%;
    height: fit-content;
    margin-top: 120px;
}

.text-judul-container-galeri-streamer {
    text-align: center;
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 44px;
line-height: 66px;
/* identical to box height */

text-align: center;
letter-spacing: 1px;

color: #000000;
}

.text-deskripsi-container-galeri-streamer {
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 33px;
margin-top: 20px;
/* identical to box height */

text-align: center;
letter-spacing: 1px;

color: #737B7D;
}

.gambar {
    border-radius: 8px;
    /* border: 2px solid grey; */
}

.container-grid-content-galeri {
    margin-top: 80px;
    /* border: 2px solid black; */
    width: 100%;
    height: 703px;
    display: grid;
    column-gap: 40px;
    row-gap: 25px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3fr 1fr 2fr 4fr;
}

.gambar-1 {
    grid-row: 1 / span 3 ;
    grid-column: 1 ;
}

.gambar-2 {
    grid-row: 1;
    grid-column: 2 ;
    /* width: 370px;
height: 210px; */
}

.gambar-3 {
    grid-row: 1 / span 3;
    grid-column: 3; 
    
}

.gambar-4 {
    grid-row: 1 / span 2;
    grid-column: 4; 
}

.gambar-5 {
    grid-row: 4 ;
    grid-column: 1; 
}

.gambar-6 {
    grid-row: 2 / span 3 ;
    grid-column: 2; 
    /* width: 370px;
height: 458px; */
}

.gambar-7 {
    grid-row: 4;
    grid-column: 3; 
}

.gambar-8 {
    grid-row: 3 / span 2;
    grid-column: 4; 
}

.container-grid-content-galeri img {
    border-radius: 8px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* .row {
    border: 2px solid aqua;
}

.col {
    border: 2px solid green;
} */