@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.streamer-terbaik-container {
  margin-top: 120px;
  margin-bottom: 120px;
  height: 900px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  /* border: 2px solid red; */
}

.text-streamer-terbaik {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 55px;
  /* identical to box height, or 125% */

  text-align: center;
  letter-spacing: 1px;

  color: #000000;
}

.text-deskripsi-streamer-terbaik {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  margin: 20px auto 0;
  width: 972px;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.3px;

  color: #737b7d;
}

.swiper-streamer-terbaik {
  margin: 0.5rem auto auto;
  width: 93%;
  height: 100%;
  /* border: 2px solid red; */
  border-radius: 1em;
  padding: 1rem;
  margin-top: 75px;
  /* position: relative; */
  /* overflow: scroll; */
}

.swiper-button-disabled{
  display: none;
}

.slide-streamer-terbaik {
  text-align: center;
  font-size: 18px;
  background: transparent;
  border-radius: 30px;
  width: 412px;
  height: 540px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  position: relative;
  /* cursor: pointer; */
  /* border: 2px solid black; */

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  transition: all 0.5s ease;
}

.slide-streamer-terbaik:hover {
  transform: scale(1.05);
  transition: all 0.5s ease;
}

/* .slide-streamer-terbaik .img-background-streamer-terbaik {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
} */

.slide-streamer-terbaik .background-img-streamer {
  border-radius: 30px;
  height: 100%;
  width: 100%;
}

.link-slide-streamer-terbaik {
  width: 100%;
  text-decoration: none;
}

/* .div-kosong {
  height: 100%;
} */

.wrapper-all-content-streamer-terbaik {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* border: 2px solid yellow; */
  height: 540px;
  width: 100%;
  border-radius: 30px;
}

.wrapper-content-streamer-terbaik {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  position: absolute;
  /* border: 2px solid red; */
  width: 100%;
  border-radius: 30px;
  /* border: 2px solid pink; */
}

/* .slide-streamer-terbaik .satu {
  background-image: linear-gradient(
      360deg,
      #222534 0%,
      rgba(34, 37, 52, 0) 100%
    ),
    url("./assets/unsplash_qp-bmociHbs.svg");
    background-size: cover;
    background-position: center;
}

.slide-streamer-terbaik .dua {
  background-image: linear-gradient(
      360deg,
      #222534 0%,
      rgba(34, 37, 52, 0) 100%
    ),
    url("./assets/unsplash_X6Uj51n5CE8.svg");
    background-size: cover;
    background-position: center;
}

.slide-streamer-terbaik .tiga {
  background-image: linear-gradient(
      360deg,
      #222534 0%,
      rgba(34, 37, 52, 0) 100%
    ),
    url("./assets/unsplash_qsG_fPHIWgw.svg");
    background-size: cover;
    background-position: center;
}

.slide-streamer-terbaik .empat {
  background-image: linear-gradient(
      360deg,
      #222534 0%,
      rgba(34, 37, 52, 0) 100%
    ),
    url("./assets/unsplash_qp-bmociHbs.svg");
    background-size: cover;
    background-position: center;
} */

.nama-streamer-terbaik {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  /* identical to box height, or 115% */

  text-align: center;
  letter-spacing: 0.3px;

  /* White */

  color: #ffffff;
}

.slide-streamer-terbaik .bintang-kami {
  display: flex;
  line-height: 0;
  color: #f2c94c;
  margin-top: 22.6px;
}

.material-bintang {
  margin: 0 4px 0;
}

.wrapper-klien-spot-wisata {
  display: flex;
  /* border: 2px solid white; */
  width: 100%;
  margin-top: 23px;
}

.grid-klien-spot-wisata {
  display: grid;
  grid-template-columns: 50% 50%;
  /* border: 2px solid aqua; */
  width: 100%;
}

.klien {
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  justify-content: flex-start;
  align-items: center;
  margin-left: 50px;
}

.text-klien {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  width: fit-content;
  margin-top: 0;

  /* identical to box height, or 167% */

  text-align: center;
  letter-spacing: 0.3px;

  /* White */

  color: #ffffff;
}

.angka-klien {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin-top: 0;
  width: fit-content;
  /* identical to box height, or 125% */

  text-align: center;
  letter-spacing: 0.3px;

  /* White */

  color: #ffffff;
}

.spot-wisata {
  display: flex;
  flex-direction: column;
  /* border: 2px solid blue; */
  justify-content: flex-start;
  align-items: center;
  margin-right: 50px;
}

.text-spot-wisata {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  width: fit-content;
  margin-top: 0;
  /* identical to box height, or 167% */

  text-align: center;
  letter-spacing: 0.3px;

  /* White */

  color: #ffffff;
}

.angka-spot-wisata {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  width: fit-content;
  margin-top: 0;
  /* identical to box height, or 125% */

  text-align: center;
  letter-spacing: 0.3px;

  /* White */

  color: #ffffff;
}

.button-next-streamer-terbaik {
  width: 69px;
  height: 69px;
  top: 220px;
  background: white;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.5s ease;
  top: 55%;
  margin-right: 30px;
  z-index: 1;
}

.button-next-streamer-terbaik:hover {
  color: white;
  background: linear-gradient(83.98deg, #0a91dd 12.34%, #4bbdfe 87.36%);
}

.button-prev-streamer-terbaik {
  width: 69px;
  height: 69px;
  top: 220px;
  background: white;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.5s ease;
  top: 55%;
  margin-left: 30px;
  z-index: 1;
  /* display: flex; */
}

.button-prev-streamer-terbaik:hover {
  color: white;
  background: linear-gradient(83.98deg, #0a91dd 12.34%, #4bbdfe 87.36%);
}

.button-next-streamer-terbaik::after {
  display: none;
}

.button-prev-streamer-terbaik::after {
  display: none;
}

.arrow-right {
  user-select: none;
  color: black;
}

.arrow-left {
  user-select: none;
  color: black;
}

.swiper-streamer-terbaik .swiper-pagination-bullet {
  border-radius: 8px;
  width: 100px;
  height: 12px;
  margin: 0px 20px 0 !important;
  background: #e4e4e4;
  opacity: 1;
}

.swiper-streamer-terbaik .swiper-pagination-bullet-active {
  background: #008ad8;
}

/* .swiper-slide-invisible-blank {
  display: none;
} */