* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primcolor: #008ad8;
  --seccolor: #ffb229;
  --white: #fff;
  --gray: #737b7d;

  --jumbotext: 56px;
  --jumbotext2: 28px;
  --sectiontitle: 44px;
  --sectiontext: 22px;

  --bluelightgrad: linear-gradient(
    72.41deg,
    rgba(0, 138, 216, 0.08) 3.16%,
    rgba(0, 138, 216, 0.0224) 100.08%
  );
  --goldgrad: linear-gradient(to right, #f09819 0%, #edde5d 51%, #f09819 100%);
  --bluegrad: linear-gradient(83.98deg, #0a91dd 12.34%, #4bbdfe 87.36%);
}

/* 
  /* === COMPONENTS ===
   */

.btn-grad {
  background-image: linear-gradient(
    to right,
    #f09819 0%,
    #edde5d 51%,
    #f09819 100%
  );
}
.btn-grad {
  box-sizing: border-box;
  width: 140;
  height: 60;
  border: none;
  padding: 10px 30px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 100px;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.btn-sec {
  background-color: transparent;
  border: 2px solid #fff;
  box-sizing: border-box;
  width: 140;
  height: 60;
  padding: 10px 30px;
  text-align: center;
  color: white;
  border-radius: 100px;
}

.btn-blue {
  box-sizing: border-box;
  width: 140;
  height: 60;
  border: none;
  padding: 10px 30px;
  text-align: center;
  color: white;
  border-radius: 100px;
  background: var(--bluegrad);
}

.btn-blue:hover {
  background: var(--primcolor);
}

.wrap {
  box-sizing: border-box;
  /* display: flex; */
}

.material-icons {
  vertical-align: middle;
}

.logo {
  font-size: 42px;
  font-weight: bolder;
  color: var(--primcolor) !important;
}

.logo span {
  color: var(--seccolor);
}

/* /////////////////////////////////////////////////NAV */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 56px 168px;
  height: 140px;
  z-index: 1;
}

a {
  font-size: 20px;
  text-decoration: none !important;
  color: #222 !important;
}

#navcenter {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.home {
  font-weight: 900;
  color: var(--primcolor) !important;
}

#navright {
  width: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* /////////////////////////////////////////////////NAV-USER */

#nav-user {
  display: none;
}

.avatarcircle {
  width: 65px;
  height: 65px;
  border-radius: 100%;
  background-color: #737b7d;
}

.avatardropdown {
  margin-top: 200px !important;
  margin-left: 70px !important;
}

.avatardropdownbtn {
  background-color: transparent;
  border: none;
}

/* /////////////////////////////////////////////////POP UP MODAL */

.modal-bg {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background: rgba(0, 56, 87, 0.72);
}

.modalbox {
  background-color: #fff;
  width: 600px;
  margin: auto;
  padding: 40px;
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modalbox .cancelbtn {
  width: 100%;
  margin-bottom: 20px;
  color: #aaa;
  text-align: right;
  font-size: 44px;
}

.cancelbtn:hover {
  cursor: pointer;
  color: #eb5757;
}

.modaltitle {
  display: flex;
  justify-content: space-between;
}

.left-title {
  font-size: 36px;
  font-weight: 900;
}

.helperbtn {
  margin: auto 0 0 0;
}

.formcontainer label {
  margin: 20px 0;
}

.formcontainer input {
  display: block;
  width: 100%;
  height: 60px;
  border-radius: 100px;
  border: 1px solid #aaa;
  padding: 0 20px;
  color: #aaa;
}

.formcontainer {
  margin-bottom: 20px;
}

.modalform {
  margin-bottom: 60px;
}

.minatjadistreamer {
  margin-bottom: 20px;
}

.radioform {
  display: inline-block;
  width: 70px;
}

.lupapwd {
  display: block;
  text-align: right;
}

.loginbtnstrech {
  width: 100%;
  height: 60px;
  background: var(--bluegrad);
  border-radius: 100px;
  border: none;
  margin-bottom: 40px;
  color: white;
}

.loginbtnstrech:hover {
  background: var(--primcolor);
}

.modalfooter {
  display: block;
  text-align: center;
  color: #aaa;
}

.helper {
  color: var(--primcolor);
  font-weight: 700;
}

.helper:hover {
  cursor: pointer;
}

.form-psw {
  position: relative;
}

.field-icon {
  color: #aaa;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.field-icon:hover {
  cursor: pointer;
}

::-webkit-calendar-picker-indicator {
  opacity: 0.3;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

textarea {
  padding: 20px;
  width: 100%;
  height: 200px;
  border-color: #aaa;
  border-radius: 25px;
  resize: none !important;
}

.selectgender {
  display: block;
  width: 100%;
  height: 60px;
  border-radius: 100px;
  padding-left: 20px;
  color: #aaa;
  border: 0;
  outline: 1px solid #aaa;
  border-right: 20px solid transparent;
}

.lupatitlewrapper {
  display: block;
  text-align: center;
  margin-bottom: 40px;
}

.lupatitle {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 18px;
}

.boxemail {
  position: relative;
  height: 50px;
  width: 40px;
  animation: box 2s infinite linear;
}

.border {
  background: #007298;
  position: absolute;
}

.border.one {
  height: 4px;
  top: 0;
  left: 0;
  animation: border-one 2s infinite linear;
}

.border.two {
  top: 0;
  right: 0;
  height: 100%;
  width: 4px;
  animation: border-two 2s infinite linear;
}

.border.three {
  bottom: 0;
  right: 0;
  height: 4px;
  width: 100%;
  animation: border-three 2s infinite linear;
}

.border.four {
  bottom: 0;
  left: 0;
  height: 100%;
  width: 4px;
  animation: border-four 2s infinite linear;
}

.line {
  height: 4px;
  background: #007298;
  position: absolute;
  width: 0%;
  left: 25%;
}

.line.one {
  top: 25%;
  width: 0%;
  animation: line-one 2s infinite linear;
}

.line.two {
  top: 45%;
  animation: line-two 2s infinite linear;
}

.line.three {
  top: 65%;
  animation: line-three 2s infinite linear;
}

@keyframes border-one {
  0% {
    width: 0;
  }
  10% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

@keyframes border-two {
  0% {
    height: 0;
  }
  10% {
    height: 0%;
  }
  20% {
    height: 100%;
  }
  100% {
    height: 100%;
  }
}

@keyframes border-three {
  0% {
    width: 0;
  }
  20% {
    width: 0%;
  }
  30% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

@keyframes border-four {
  0% {
    height: 0;
  }
  30% {
    height: 0%;
  }
  40% {
    height: 100%;
  }
  100% {
    height: 100%;
  }
}

@keyframes line-one {
  0% {
    left: 25%;
    width: 0;
  }
  40% {
    left: 25%;
    width: 0%;
  }
  43% {
    left: 25%;
    width: 50%;
  }
  52% {
    left: 25%;
    width: 50%;
  }
  54% {
    left: 25%;
    width: 0%;
  }
  55% {
    right: 25%;
    left: auto;
  }
  63% {
    width: 10%;
    right: 25%;
    left: auto;
  }
  100% {
    width: 10%;
    right: 25%;
    left: auto;
  }
}

@keyframes line-two {
  0% {
    width: 0;
  }
  40% {
    width: 0%;
  }
  43% {
    width: 50%;
  }
  52% {
    width: 50%;
  }
  54% {
    width: 0%;
  }
  60% {
    width: 50%;
  }
  100% {
    width: 50%;
  }
}

@keyframes line-three {
  0% {
    width: 0;
  }
  40% {
    width: 0%;
  }
  43% {
    width: 50%;
  }
  52% {
    width: 50%;
  }
  54% {
    width: 0%;
  }
  100% {
    width: 0%;
  }
}

@keyframes box {
  0% {
    opacity: 1;
    margin-left: 0px;
    height: 50px;
    width: 40px;
  }
  55% {
    margin-left: 0px;
    height: 50px;
    width: 40px;
  }
  60% {
    margin-left: 0px;
    height: 35px;
    width: 50px;
  }
  74% {
    msthin-left: 0;
  }
  80% {
    margin-left: -50px;
    opacity: 1;
  }
  90% {
    height: 35px;
    width: 50px;
    margin-left: 50px;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.swal-icon--success {
  border-color: #a5dc86;
}

.swal-icon--success:after,
.swal-icon--success:before {
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 60px;
  height: 120px;
  background: #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.swal-icon--success:before {
  border-radius: 120px 0 0 120px;
  top: -7px;
  left: -33px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 60px 60px;
  transform-origin: 60px 60px;
}

.swal-icon--success:after {
  border-radius: 0 120px 120px 0;
  top: -11px;
  left: 30px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 60px;
  transform-origin: 0 60px;
  -webkit-animation: rotatePlaceholder 4.25s ease-in;
  animation: rotatePlaceholder 4.25s ease-in;
}

.swal-icon--success__ring {
  width: 80px;
  height: 80px;
  border: 4px solid hsla(98, 55%, 69%, 0.2);
  border-radius: 50%;
  box-sizing: content-box;
  position: absolute;
  left: -4px;
  top: -4px;
  z-index: 2;
}

.swal-icon--success__hide-corners {
  width: 5px;
  height: 90px;
  background-color: #fff;
  padding: 1px;
  position: absolute;
  left: 28px;
  top: 8px;
  z-index: 1;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.swal-icon--success__line {
  height: 5px;
  background-color: #a5dc86;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 2;
}

.swal-icon--success__line--tip {
  width: 25px;
  left: 14px;
  top: 46px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-animation: animateSuccessTip 0.75s;
  animation: animateSuccessTip 0.75s;
}

.swal-icon--success__line--long {
  width: 47px;
  right: 8px;
  top: 38px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: animateSuccessLong 0.75s;
  animation: animateSuccessLong 0.75s;
}

.swal-icon {
  width: 80px;
  height: 80px;
  border-width: 4px;
  border-style: solid;
  border-radius: 50%;
  padding: 0;
  position: relative;
  box-sizing: content-box;
  margin: 20px auto;
}

.swal-icon:first-child {
  margin-top: 32px;
}

@keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0;
    top: 35px;
  }
  to {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}

@keyframes rotatePlaceholder {
  0% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  5% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  12% {
    -webkit-transform: rotate(-405deg);
    transform: rotate(-405deg);
  }
  to {
    -webkit-transform: rotate(-405deg);
    transform: rotate(-405deg);
  }
}

@keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  to {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}

.containeremail {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.boxemail {
  position: relative;
  height: 50px;
  width: 40px;
  animation: box 2s infinite linear;
}

/* === Progress Bar === */

.detail-order-progress-container {
  margin-top: 120px;
  width: 100%;
  /* border: 2px solid red; */
}

.masih-dalam-proses-container {
  display: flex;
  background: #fff7dd;
  border-radius: 30px;
}

.streamer-belum-bisa-container {
  display: flex;
  background: #FFE6E1;
  border-radius: 30px;
}

.masih-ditinjau-container {
  display: flex;
  background: #fff7dd;
  border-radius: 30px;
}
.peninjauan-gagal-container {
  display: flex;
  background: #FFE6E1;
  border-radius: 30px;
}

.disetujui-container {
  display: flex;
  background: #ecffe6;
  border-radius: 30px;
}

.pembayaran-berhasil-container {
  display: flex;
  background: #ecffe6;
  border-radius: 30px;
}

.time-forward-image {
  margin-left: 20px;
  width: 60px;
  height: 60px;
}
.img-peninjauan-gagal {
  margin-left: 20px;
  width: 60px;
  height: 60px;
}
.image-streamer-gagal {
  margin-left: 20px;
  width: 60px;
  height: 60px;
}

.check-image {
  margin-left: 20px;
  width: 60px;
  height: 60px;
}

.heading-notif-order {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  height: 100%;
  /* identical to box height */

  letter-spacing: 0.5px;

  color: #000000;
  margin: 0;
}

.text-notif-order {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  /* Light / Black */

  color: #373f41;
  margin: 12px 0 0;
}

.text-masih-dalam-proses {
  /* border: 2px solid palegreen; */
  justify-content: center;
  margin: 20px 37px;
}
.text-peninjauan-gagal {
  /* border: 2px solid palegreen; */
  justify-content: center;
  margin: 20px 37px;
}
.text-streamer-belum-bisa {
  /* border: 2px solid palegreen; */
  justify-content: center;
  margin: 20px 37px;
}
.text-pembayaran-berhasil {
  /* border: 2px solid palegreen; */
  justify-content: center;
  margin: 20px 37px;
}

.notif-order-container {
  margin: 100px 100px 0;
  /* border: 2px solid orange; */
}

.container-jalan-destinasi-satu {
  margin-bottom: 30px;
}

.content-jalan-destinasi-satu {
  margin-left: 70px;
}

.content-text-jalan-destinasi {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  letter-spacing: 1px;

  /* Light / Black */

  color: #373f41;
}

.button-destinasi-content {
  background: linear-gradient(82.74deg, #ffb229 11.84%, #f8e66f 134.55%);
  border-radius: 100px;
  margin-bottom: 20px;
  border: none;
  width: 204px;
  height: 49px;
}

.judul-detail-order-container {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 55px;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 1px;

  color: #000000;
  /* border: 2px solid aqua; */
  height: 55px;
}

.progress-order-container {
  margin-top: 66px;
  height: 128px;
  position: relative;
  /* border: 2px solid yellow; */
}

.container-progress-pagination {
  position: absolute;
  /* border: 2px solid black; */
  width: 100%;
}

.bullet-progress-img-awal-satu {
  width: 72px;
}
.bullet-progress-img-awal-dua {
  width: 72px;
}
.bullet-progress-img-awal-tiga {
  width: 72px;
}
.bullet-progress-img-awal-empat {
  width: 72px;
}

.bullet-progress-img-konfirmasi {
  /* display: none; */
  width: 72px;
}

.bullet-progress-disetujui {
  /* display: none; */
  width: 72px;
}

.deskripsi-bullet-progress {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height */

  letter-spacing: 1px;

  color: #000000;
}

.bullet-progress {
  margin: 30px 110px 0;
  width: fit-content;
}

.content-order-container {
  /* width: 100%; */
  /* border: 2px solid red; */
  padding: 10px;
  margin: 100px 100px 100px;
}

.waktu-pembayaran-wrapper {
  /* border: 2px solid pink; */
  margin: 0;
  /* margin: 0 20px 0; */
}

.waktu-order-wrapper {
  background-color: white;
  padding: 50px;
  /* border: 2px solid yellow; */
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  width: 1075px;
  border-radius: 30px;
  height: fit-content;
}

.rekening-tujuan-container {
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */
  height: fit-content;
  border-radius: 30px;
  padding: 30px;
  background: linear-gradient(83.98deg, rgba(10, 145, 221, 0.08) 12.34%, rgba(75, 189, 254, 0.08) 87.36%);
}

/* START: IMAGE UPLOADER */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(83.98deg, rgba(10, 145, 221, 0.08) 12.34%, rgba(75, 189, 254, 0.08) 87.36%);
  padding-bottom: 20px;
  margin-top: 10px;
  border-radius: 5px;
}
.center {
  text-align: center;
}
#top {
  margin-top: 20px;
}
.btn-container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 5px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
#button-upload-pembayaran {
  width: 353px;
height: 62px;
border: none;
/* Linear Blue */
color: white;

background: linear-gradient(83.98deg, #0A91DD 12.34%, #4BBDFE 87.36%);
border-radius: 100px;
}
.heading-text-upload-image{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 42px;
/* identical to box height */

letter-spacing: 0.5px;
margin: 35px 0 35px;

color: #000000;

}
.text-upload-image{
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
/* identical to box height */


/* Light / Black */

color: #373F41;
}
.text-dua-upload-image{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 33px;
/* identical to box height */

letter-spacing: 0.5px;

color: #000000;
}
.logo-bank{
  width: 84px;
  height: 72px;
}
.wrapper-text-rekening-tujuan-bank{
  margin-left: 31px;
}
.white {
  color: white;
}
.imgupload {
  color: #1e2832;
  padding-top: 40px;
  font-size: 7em;
}
#namefile {
  color: black;
}

.btn-primary {
  border-color: #ff3f3f !important;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #ff3f3f !important;
  border-color: #ff3f3f !important;
}

/*these two are set to not display at start*/
.imgupload.ok {
  display: none;
  color: green;
}
.imgupload.stop {
  display: none;
  color: red;
}

/*this sets the actual file input to overlay our button*/
#fileup {
  /* border: 2px solid red; */
  opacity: 0;
  -moz-opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  width: 353px;
  height: 62px!important;
  cursor: pointer;
  position:absolute;
  border-radius: 100px;
  bottom: 20px;
  /* transform: translateX(-50%); */
  height: 50px;
}

/*switch between input and not active input*/
#submitbtn {
  margin-top: 40px;
  width: 200px;
height: 62px;
  padding: 5px 50px;
  border: none;
/* Linear Blue */
color: white;

background: linear-gradient(83.98deg, #0A91DD 12.34%, #4BBDFE 87.36%);
border-radius: 100px;
}
#fakebtn {
  margin-top: 40px;
  width: 200px;
height: 62px;
  border-radius: 100px;
  border: none;
  cursor: not-allowed;
  border: none;
/* Linear Blue */
color: red;

background: linear-gradient(83.98deg, #0A91DD 12.34%, #4BBDFE 87.36%);
border-radius: 100px;
}

.button-kontak-kami-ditinjau {
  margin-top: 40px;
  background: linear-gradient(82.74deg, #ffb229 11.84%, #f8e66f 134.55%);
  border-radius: 100px;
  margin-bottom: 20px;
  border: none;
  width: 204px;
  height: 49px;
}
.button-kontak-streamer-pembayaran-berhasil {
  margin-top: 40px;
  background: linear-gradient(82.74deg, #ffb229 11.84%, #f8e66f 134.55%);
  border-radius: 100px;
  margin-bottom: 20px;
  border: none;
  width: 204px;
  height: 49px;
}
.image-area {
  border: 2px dashed black;
  padding: 1rem;
  position: relative;
  border-radius: 100px;
}

.image-area::before {
  content: 'Uploaded image result';
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  z-index: 1;
}

.image-area img {
  z-index: 2;
  position: relative;
}

/* END: CUSTOM IMAGE UPLOADER */

.clock-image {
  width: 44px;
  height: 44px;
}

.jam-content-container {
  margin-left: 28px;
}

.calendar-image {
  margin-left: 109px;
}

.tanggal-content-container {
  margin-left: 28px;
}

.link-zoom-text-container {
  margin-left: 28px;
}

.pembayaran-order-wrapper {
  padding: 50px;
  /* border: 2px solid paleturquoise; */
  width: 590px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 30px;
  margin-left: 55px;
  margin-right: 0px;
}

.container-nama-profil {
  margin-left: 40px;
}

.text-satu-jam {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  /* Light / Black */

  color: #373f41;
}
.text-satu-tanggal {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  /* Light / Black */

  color: #373f41;
}
.text-satu-zoom {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  /* Light / Black */

  color: #373f41;
}

.text-dua-jam {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height */

  letter-spacing: 0.5px;

  color: #000000;
}
.text-dua-tanggal {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height */

  letter-spacing: 0.5px;

  color: #000000;
}
.text-dua-zoom {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height */

  letter-spacing: 0.5px;

  color: #000000;
}

.text-waktu {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  margin-bottom: 36px;
  /* identical to box height */

  letter-spacing: 0.5px;

  color: #000000;
}
.heading-text-destinasi {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  margin-bottom: 36px;
  /* identical to box height */

  letter-spacing: 0.5px;

  color: #000000;
}
.heading-text-service-tambahan {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  margin-bottom: 36px;
  /* identical to box height */

  letter-spacing: 0.5px;

  color: #000000;
}

.text-kanan-harga-kecil {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  /* identical to box height */

  letter-spacing: 0.5px;

  /* Linear Blue */

  background: linear-gradient(83.98deg, #0a91dd 12.34%, #4bbdfe 87.36%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-streamer {
  font-family: "Poppins";
  margin-bottom: 36px;
  margin-top: 60px;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  /* identical to box height */

  letter-spacing: 0.5px;

  color: #000000;
}
.heading-text-zoom {
  font-family: "Poppins";
  margin-bottom: 36px;
  margin-top: 60px;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  /* identical to box height */

  letter-spacing: 0.5px;

  color: #000000;
}

.text-profil-nama {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.5px;

  /* Light / Black */

  color: #373f41;
}

.text-kiri-total {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  /* identical to box height */

  letter-spacing: 0.5px;

  /* Light / Black */

  color: #373f41;
}

.text-kanan-harga {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  /* identical to box height */

  text-align: right;
  letter-spacing: 0.5px;

  /* Linear Blue */

  background: linear-gradient(83.98deg, #0a91dd 12.34%, #4bbdfe 87.36%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.total-price {
  margin-top: 70px;
}

.wrapper-button-pesan-tiket {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  margin-top: 30px;
}

.wrapper-button-pesan-tiket-batalkan {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.button-batalkan-dua {
  background: linear-gradient(83.98deg, #0a91dd 12.34%, #4bbdfe 87.36%);
  border-radius: 100px;
  border: none;
  width: 481px;
  height: 65px;
  color: white;
}

.button-lihat-detail {
  border-radius: 100px;
  background-color: transparent;
  color: #008ad8;
  border: 2px solid rgb(39, 165, 236);
  width: 481px;
  height: 65px;
}

.text-pembayaran {
  font-family: "Poppins";
  margin-bottom: 36px;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  /* identical to box height */

  letter-spacing: 0.5px;

  color: #000000;
}

.text-kiri {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  /* Light / Black */

  color: #373f41;
}

.text-kanan {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  letter-spacing: 1px;

  /* Light / Black */

  color: #373f41;
}

.button-batalkan {
  width: 228px;
  height: 65px;
  border-radius: 100px;
  background-color: transparent;
  color: #008ad8;
  border: 2px solid rgb(39, 165, 236);
}

.button-pesan-tiket {
  width: 228px;
  height: 65px;
  color: white;

  /* Linear Blue */

  background: linear-gradient(83.98deg, #0a91dd 12.34%, #4bbdfe 87.36%);
  border-radius: 100px;
  border: none;
}

.button-trip-selesai {
  width: 481px;
  height: 65px;
  color: white;

  /* Linear Blue */

  background: linear-gradient(83.98deg, #0a91dd 12.34%, #4bbdfe 87.36%);
  border-radius: 100px;
  border: none;
}

.button-profile {
  width: 104px;
  height: 49px;
  border: none;
  /* Yellow Linear */

  background: linear-gradient(82.74deg, #ffb229 11.84%, #f8e66f 134.55%);
  border-radius: 100px;
}

.destinasi-wrapper {
  margin-top: 55px;
  padding: 50px;
  /* border: 2px solid black; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  width: 1050px;
  border-radius: 30px;
}

.service-tambahan-wrapper {
  margin-top: 55px;
  padding: 50px;
  /* border: 2px solid black; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  width: 1050px;
  border-radius: 30px;
}

.content-service-tambahan-satu {
  margin-left: 60px;
}

.heading-content-service-tambahan {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  /* identical to box height */

  letter-spacing: 0.5px;

  /* Light / Black */

  color: #373f41;
}

.heading-content-service-tambahan span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height */

  /* Gray */

  color: #aaaaaa;
}

.text-content-service-tambahan {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height */

  letter-spacing: 1px;

  /* Light / Black */

  color: #373f41;
}

.alamat-pengiriman-wrapper {
  margin-top: 55px;
  padding: 50px;
  /* border: 2px solid black; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  width: 1050px;
  border-radius: 30px;
}

.heading-alamat-pengiriman {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  /* identical to box height */

  letter-spacing: 0.5px;

  color: #000000;
}

.text-content-alamat-pengiriman {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  /* identical to box height, or 136% */

  letter-spacing: 0.3px;

  /* Secondary */

  color: #000000;
}

#alamat-pengiriman-input-text {
  width: 950px;
  height: 200px;
}

#submit-address {
  width: 245px;
  height: 62px;

  /* Linear Blue */

  background: linear-gradient(83.98deg, #0a91dd 12.34%, #4bbdfe 87.36%);
  border-radius: 100px;
  border: none;
  color: white;
}
#perbarui-address {
  width: 245px;
  height: 62px;

  /* Linear Blue */

  background: linear-gradient(83.98deg, #0a91dd 12.34%, #4bbdfe 87.36%);
  border-radius: 100px;
  border: none;
  color: white;
}

footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #00304a;
  /* background-color: #1e2833; */
  height: 572px;
  color: white;
  text-align: center;
}

.footer-logo-container {
  border: 1px solid transparent;
  height: 100%;
}

.footer-logo {
  margin-top: 80px;
  /* border: 2px solid red; */
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 63px;
  line-height: 45px;
  letter-spacing: 2.25px;
  color: #008ad8;
}

.footer-logo span {
  color: #ffb229;
  /* height: fit-content; */
}

.footer-text-container {
  margin-top: 41px;
}

.navbar-footer a {
  color: #fff;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.footer-text {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  line-height: 36px;
  margin-top: 41px;
  margin: 0;
  padding: 0;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.navbar-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 68px;
}

.navbar-footer .navbar-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-footer .navbar-links {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.navbar-footer .navbar-links a {
  font-size: 18px;
  color: #ffff !important;
}

.navbar-footer .navbar-links li {
  margin: 0 50px;
  margin-bottom: 83px;
}

.navbar-footer .navbar-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-icon a {
  margin: 0 30px 60px 30px;
}
