@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  color: #000;
}

.text-tentang-kami {
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 0;
  /* margin-bottom: 6.25rem; */
  font-family: Mulish;
  font-style: normal;
  font-size: 2.875rem;
  line-height: 5rem;
  /* identical to box height, or 174% */

  text-align: center;
  letter-spacing: 0.063rem;
  text-transform: capitalize;

  /* Light / Black */

  color: #373f41;
}

.text-deskripsi-tentang-kami {
  font-family: Mulish;
font-style: normal;
font-weight: normal;
font-size: 1.375rem;
line-height: 1.875rem;
width: 60.75rem;
margin: 15px auto 0;
/* or 136% */

text-align: center;
letter-spacing: 0.019rem;

/* Light / Gray dark */

color: #737B7D;
}

.tentang-kami-container {
  width: 100%;
  height: 858px;
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(72.41deg, rgba(0, 138, 216, 0.08) 3.08%, rgba(0, 138, 216, 0.0224) 100%);
}

.quotation-image {
  width: 4.188rem;
  position: absolute;
  top: -1.625rem;
  right: 1.563rem;
}

.swiper-tentang-kami {
  margin: 40px auto auto;
  width: 93%;
  height: 100%;
  border-radius: 1rem;
  padding: 1rem;
  /* border: 2px solid red; */
  /* position: absolute; */
}

.test-lagi {
  border: 2px solid brown;
}

.slide-tentang-kami {
  text-align: center;
  font-size: 1.125rem;
  background: #fff;
  width: 555px!important;
  /* 1317px */
  height: 22.25rem!important;
  margin: 0 15px 0;
  margin-top: 2rem;
  border-radius: 1rem;
  position: relative;
  padding: 2rem;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
  transition: all .5s ease;
}

/* .swiper-slide img {
  display: block;
  width: 9.349rem;
  height: 9.438rem;
  object-fit: cover;
} */

.foto-kami {
  width: 6.625rem;
}

.nama-pekerjaan-kami {
  display: flex;
  align-items: center;
  width: 100%;
}

.wrapper-nama-pekerjaan {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
}

.name {
  font-family: Poppins;
font-style: normal;
font-weight: 600;
width: fit-content;
font-size: 28px;
line-height: 42px;
margin: 0;
/* identical to box height */


color: #34364A;
}

.job {
  font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 42px;
width: fit-content;
margin: 0;
/* identical to box height */


/* primary */

color: #008AD8;
}

.nama-foto-kami {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.5rem;
}

.content-text-tentang-kami{
  text-align: left;
  font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 36px;
color:#5D5D64;
height: 100%;
margin-top: 30px;
}

.slide-tentang-kami .bintang-kami {
  display: flex;
  /* margin-top: 66px;
  margin-bottom: 0rem; */
  /* margin: auto; */
  /* overflow-y: hidden; */
  /* position: relative; */
  bottom: 0px;
  line-height: 0;
  color: #F2C94C;
}

.button-next-tentang-kami {
  width: 69px;
  height: 69px;
  background: white;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.5s ease-in-out;
  margin-right: 30px;
  top: 55%;
  z-index: 1;
  /* top: 610px;
  right: 30px; */
}

.button-next-tentang-kami:hover{
  color: white;
  background:linear-gradient(83.98deg, #0A91DD 12.34%, #4BBDFE 87.36%);
}

.button-prev-tentang-kami {
  width: 69px;
  height: 69px;
  background: white;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.5s ease;
  margin-left: 30px;
  top: 55%;
  z-index: 1;
  /* top: 1080px;
  left: 30px; */
  /* left: -25px; */
  /* display: flex; */
}

.button-prev-tentang-kami:hover{
  color: white;
  background:linear-gradient(83.98deg, #0A91DD 12.34%, #4BBDFE 87.36%);
}

.button-next-tentang-kami::after {
  display: none;
}

.button-prev-tentang-kami::after {
  display: none;
}

.arrow-right {
  user-select: none;
  color: black;
}

.arrow-left {
  user-select: none;
  color: black;
}

.tentang-kami-content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
}

.swiper-tentang-kami .swiper-pagination-bullet{
  border-radius: 8px;
  width: 100px;
  height: 12px;
  margin: 0px 20px 80px!important;
  background: grey;
  /* opacity: 1; */
}

.swiper-tentang-kami .swiper-pagination-bullet-active {
	background: #008AD8;
}

.swiper-tentang-kami .swiper-slide-active {
  margin: 32px 25px 0;
  transform: scale(1.1);
  transition: all .5s ease;
}