@import url("https://fonts.googleapis.com/css?family=Poppins");

*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /* outline: 1px solid red; */
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(72.41deg, rgba(0, 138, 216, 0.08) 3.08%, rgba(0, 138, 216, 0.0224) 100%);

}


h1.ticket-title{
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 75px;
    /* identical to box height, or 134% */
    
    text-align: center;
    letter-spacing: 2px;
    
    /* Secondary */
    
    color: #000000;
    text-align: center;
    margin-top: 146px;
    margin-bottom: 120px;


}

.ticket-container{

    padding: 0px 155px;

}

.ticket-card{
    background: #FFFFFF;
/* Effect Card */

box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.07);
border-radius: 30px;
max-width: 1610px;

}

.ticket-card-body{  
    display: flex;
    justify-content: space-between;
    gap: 75px;
    padding: 38px 66px;
}

.ticket-card-title{

    font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
/* identical to box height */

text-align: center;

color: #000000;
margin-top: 0px;
margin-bottom: 3px;

}

.ticket-card-subtitle{
    font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 42px;
/* identical to box height */

text-align: center;
letter-spacing: 0.5px;

color: #000000;
margin-top: 0px;
margin-bottom: 0px;
}

.ticket-card-image{

    border-radius: 360px;
    margin-bottom: 35px;
}

.ticket-card-body-left{

    text-align: center;
}

.time-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 57px;

}

.garis-dekor{
    background-color: #f1f1f1;
    width: 8px;
    align-self: stretch;
    margin: 0;
    border-radius: 100px;
    border: 1px solid transparent;
}

.ticket-card-body-center{

    display: flex;
    flex-direction: column;
    gap: 57px;
    flex-grow: 1;
}


.ticket-card-body-right{



}

.ticket-card-wrap{
    display: flex;
    gap: 28px;

}

.ticket-card-icon {
    width: 44px;
    /* aspect-ratio: 1/1; */
}

.ticket-card-description{
    font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
/* identical to box height */


/* Light / Black */

color: #373F41;

margin: 0px 0px 5px;
}

.ticket-card-detail{

    font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 33px;
/* identical to box height */

letter-spacing: 0.5px;

color: #000000;
margin: 0px 0px 5px;

}

.ticket-card-right-title{
    font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
/* identical to box height */

letter-spacing: 1px;

color: #000000;
}

.ticket-card-buttons{
    display: flex;
    gap: 15px;
}


.ticket-button-primary{
    display: inline-block;
    font-weight: 500;
    line-height: 1.5;
    color: black;
    text-align: center;
    border: 1px solid transparent;
    padding: 10px 0px;
    font-size: 20px;
    width: 140px;
    background: linear-gradient(82.74deg, #FFB229 11.84%, #F8E66F 134.55%);
border-radius: 100px;
margin-top: 59px;
}



.card-footer h5{
    font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 33px;
text-align: center;
/* identical to box height */

letter-spacing: 0.5px;

/* White */

color: #FFFFFF;

padding: 42px 0px;

}

.card-footer{
    background: linear-gradient(83.98deg, #0A91DD 12.34%, #4BBDFE 87.36%);
border-radius: 0px 0px 30px 30px;
}