@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.user-profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    72.41deg,
    rgba(0, 138, 216, 0.08) 3.08%,
    rgba(0, 138, 216, 0.0224) 100%
  );
  flex-direction: column;
}

.user-profile {
  align-items: center;
  text-align: center;
}

.user-profile-img {
  margin-top: 80px;
  margin-bottom: 32px;
  width: 240px;
  border-radius: 100%;
}

.user-profile-nama {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 2px;
  color: #000000;
  margin-bottom: 9px;
}

.user-profile-kota {
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 1px;
  color: #737b7d;
  margin-bottom: 26px;
}

.user-profile-button-foto {
  width: 260px;
  height: 62px;
  border: none;
  background: linear-gradient(83.98deg, #0a91dd 12.34%, #4bbdfe 87.36%);
  border-radius: 100px;
  color: white;
  margin-bottom: 100px;
  margin-right: 30px;
}

.user-profile-button-password {
  width: 260px;
  height: 62px;
  border-radius: 100px;
  border: solid 3px #0a91dd;
  color: #008ad8;
  margin-bottom: 100px;
  background-color: transparent;
}

.user-profile-card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 219px;
}

.user-profile-card-content {
  width: 645px;
  height: 792px;
  background: #ffffff;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.07);
  border-radius: 30px;
  margin-right: 32px;
}

.user-profile-data {
  margin-left: 50px;
  margin-top: 32px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: #34364a;
}

.user-profile-data-ubah {
  margin-left: 50px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: #aaaaaa;
}

.line {
  border: 2px solid #e4e4e4;
  width: 540px;
  margin: 0 auto;
  margin-bottom: 29px;
}

.user-profile-form-nama {
  margin-bottom: 28px;
}

.user-profile-form-email {
  margin-bottom: 28px;
}

.user-profile-jenis-kelamin {
  margin-bottom: 28px;
}

.user-profile-nomor-tel {
  margin-bottom: 28px;
}

input,
label,
select {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"] {
  /* width: 50%; */
  padding: 12px 10px;
  margin: 8px 0;
  margin-right: 10px;
  background: #ffffff;
  border: 1px solid #bdbdbd;
  border-radius: 100px;
  margin-bottom: 28px;
}

select {
  background: #ffffff;
  border: 1px solid #aaaaaa;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  /* width: 100%; */
  padding: 10px;
  color: #aaaaaa;
  margin-bottom: 28px;
  cursor: pointer;
}

.user-profile-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-profile-form-left {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 53px;
}

.user-profile-form-left label {
  margin-bottom: 12px;
}

.user-profile-form-right {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 32px;
}

.user-profile-form-right label {
  margin-bottom: 12px;
}

.user-profile-alamat {
  margin-left: 53px;
}

.user-profile-alamat textarea {
  width: 440px;
  height: 156px;
  background: #ffffff;
  border: 1px solid #aaaaaa;
  box-sizing: border-box;
  border-radius: 25px;
  padding: 12px 9px 0 12px;
  margin-bottom: 20px;
}

.user-profile-alamat label {
  margin-bottom: 12px;
}

.user-profile-form-kota {
  margin-left: 53px;
}

.user-profile-form-align {
  display: flex;
  justify-content: space-between;
  margin-left: 53px;
  margin-right: 52px;
}

.user-profile-form-align button {
  background: #aaaaaa;
  border: none;
  width: 139px;
  height: 50px;
  border-radius: 100px;
  padding: 16px 30px;
  color: white;
  cursor: pointer;
}

.user-profile-form-align button:hover {
  background-color: #008ad8;
}

.user-profile-riwayat {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-profile-riwayat-kota {
  margin-left: 57px;
}

.user-profile-riwayat-kota h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.3px;
  color: #373f41;
}

.user-profile-riwayat-kota p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 28px;
  letter-spacing: 0.3px;
  color: #aaaaaa;
  margin-bottom: 24px;
}

.user-profile-riwayat-tanggal h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.3px;
  color: #373f41;
}

.user-profile-riwayat-tanggal p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 28px;
  letter-spacing: 0.3px;
  color: #aaaaaa;
  margin-bottom: 24px;
}

.user-profile-riwayat-btn {
  display: flex;
  flex-direction: column;
}

.user-profile-riwayat-btn button {
  width: 120px;
  height: 52px;
  border-radius: 100px;
  border: solid 3px #0a91dd;
  color: #008ad8;
  background-color: transparent;
  margin-bottom: 24px;
  margin-right: 41px;
}

.user-profile-pagination {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.user-profile-pagination-prev:hover {
  background-color: #0a91dd;
  color: white;
}

.user-profile-pagination-prev-2:hover {
  background-color: #0a91dd;
  color: white;
}

.user-profile-pagination-prev {
  width: 50px;
  height: 50px;
  background: #e4e4e4;
  border: 0.5px solid #aaaaaa;
  box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
  margin-right: 8px;
  margin-left: 8px;
  padding: 11px;
}

.user-profile-pagination-prev-2 {
  transform: rotate(-180deg);
  width: 50px;
  height: 50px;
  background: #e4e4e4;
  border: 0.5px solid #aaaaaa;
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 8px;
  margin-left: 8px;
  text-align: center;
  padding: 11px;
}

.user-profile-pagination-page {
  width: 50px;
  height: 50px;
  background: #ffffff;
  border: 0.5px solid #aaaaaa;
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 8px;
  margin-left: 8px;
  text-align: center;
  padding: 11px;
  text-decoration: none;
}

.user-profile-pagination-page:hover {
  background-color: #0a91dd;
  color: white;
}

.user-profile-pagination-page:active {
  background-color: #0a91dd;
  color: white;
}
