<div class="fitur">
  <div class="fitur-container">
    <h2>Liburan yang seru & anti ribet</h2>
    <p>Kami merancang liburan virtual yang anti-mainstream dengan konsep yang seru dan tak terlupakan untuk kamu coba.
    </p>
    <div class="fitur-content">
      <div class="content">
        <img src="/images/camera.png" alt="" />
        <h3>Jalan-Jalan Dari Rumah</h3>
        <p>Temukan destinasi yang kamu inginkan dan lakukan liburan virtualmu tanpa harus keluar rumah</p>
      </div>
      <div class="content dua">
        <img src="/images/give-love.png" alt="" />
        <h3>Trip bersama idolamu</h3>
        <p>Rasakan pengalaman yang menarik dengan berinteraksi langsung bersama streamer idolamu</p>
      </div>
      <div class="content">
        <img src="/images/calendar.png" alt="" />
        <h3>Tidak memakan waktu</h3>
        <p>Dengan waktu yang fleksibel dan terjadwal membuat liburan virtualmu menjadi lebih berkesan</p>
      </div>
    </div>
  </div>
</div>