<section class="product-description" id="kamiciptakan">
    <div class="container-fluid vh-100">
        <div class="row vh-100">
            <div class="col-5 glass-image d-flex flex-column justify-content-center">
                <div class="box">
                    <img src="/images/geio-tischler-7hww7t6NLcg-unsplash 3.png" alt="Bali Scenery">
                    <div class="box1">
                        <img src="/images/djamal-akhmad-fahmi-4l6EbtDmey0-unsplash 2.png" alt="Selfie Person" width="100%">
                    </div>
                    <div class="box2 rounded-circle">
                        <img src="/images/in-love 1.svg" alt="In Love Emoji">
                    </div>
                    <div class="box3">
                        <img src="/images/your-location 1.svg" alt="Location Icon">
                        <p>Ubud, Bali</p>
                    </div>
                </div>
            </div>
            <div class="col-7 product-description-content d-flex flex-column justify-content-center ps-5">
                <div class="ms-5 ps-5">
                    <h2>Kenapa Kami Ciptakan Pengalaman Liburan Yang Berbeda?</h2> <br>
                    <p>Terjebak dirumah terus kangen nge - trip? <br>Virtoural adalah pilihan terbaik untuk menjelajah Bagian dari indonesia dari rumahmu. Semua tour dan pengalaman virtual akan dipandu oleh  Streamer terbaik dan menciptakan pengalaman terbaik yang belum pernah kamu rasakan.</p>
                    <div class="hstack gap-5 product-statistic mt-4"> 
                        <div class="">
                            <h2>11K+</h2>
                            <p>Pengguna</p>
                        </div>
                        <div class=" vr"></div>
                        <div class="">
                            <h2>499</h2>
                            <p>Destinasi</p>
                        </div>
                        <div class=" vr"></div>
                        <div class="">
                            <h2>499</h2>
                            <p>Streamer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>