<div class="tentang-kami-container">
    <p class="text-tentang-kami">Kata mereka tentang Adi</p>
    <p class="text-deskripsi-tentang-kami">Sudah banyak yang merasakan sensasi liburan yang berbeda bersama
        Virtoural. Sekarang giliranmu untuk mencobanya!</p>
    <div class="swiper mySwiper swiper-tentang-kami">
        <div class="swiper-wrapper">
            <div class="swiper-slide slide-tentang-kami">
                <img class="quotation-image" src="/images/straight-quotes 1 (1).png" alt="quotation-image">
                <div class="tentang-kami-content-container">
                    <div class="nama-foto-kami">
                        <div class="foto-kami">
                            <img src="/images/fahmi-gustado.png" alt="fahmi">
                        </div>
                        <div class="nama-pekerjaan-kami">
                            <div class="wrapper-nama-pekerjaan">
                                <p class="name">Fahmi Gustado</p>
                                <p class="job">Mahasiswa</p>
                            </div>
                        </div>
                    </div>
                    <p class="content-text-tentang-kami"> Virtoural Keren! Awalnya skeptis, tapi ternyata
                        menarik banget! </p>
                    <div class="bintang-kami">
                        <span class="material-icons">star_rate</span>
                        <span class="material-icons">star_rate</span>
                        <span class="material-icons">star_rate</span>
                        <span class="material-icons">star_rate</span>
                        <span class="material-icons">star_border</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide slide-tentang-kami">
                <img class="quotation-image" src="/images/straight-quotes 1 (1).png" alt="quotation-image">
                <div class="tentang-kami-content-container">
                    <div class="nama-foto-kami">
                        <div class="foto-kami">
                            <img src="/images/angel-img.png" alt="angel">
                        </div>
                        <div class="nama-pekerjaan-kami">
                            <div class="wrapper-nama-pekerjaan">
                                <p class="name">Angel Brilliant</p>
                                <p class="job">Doctor</p>
                            </div>
                        </div>
                    </div>
                    <p class="content-text-tentang-kami">Liburan dari kasur seru juga ternyata, solusi nih buat
                        kalian yang kerja lembur bagai kuda kaya saya haha</p>
                    <div class="bintang-kami">
                        <span class="material-icons">star_rate</span>
                        <span class="material-icons">star_rate</span>
                        <span class="material-icons">star_rate</span>
                        <span class="material-icons">star_rate</span>
                        <span class="material-icons">star_border</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide slide-tentang-kami">
                <img class="quotation-image" src="/images/straight-quotes 1 (1).png" alt="quotation-image">
                <div class="tentang-kami-content-container">
                    <div class="nama-foto-kami">
                        <div class="foto-kami">
                            <img src="/images/barackObama.png" alt="mr.barrack obama">
                        </div>
                        <div class="nama-pekerjaan-kami">
                            <div class="wrapper-nama-pekerjaan">
                                <p class="name">Barack Obama</p>
                                <p class="job">Politikus</p>
                            </div>
                        </div>
                    </div>
                    <p class="content-text-tentang-kami"> Virtoural Keren! Awalnya skeptis, tapi ternyata
                        menarik banget! </p>
                    <div class="bintang-kami">
                        <span class="material-icons">star_rate</span>
                        <span class="material-icons">star_rate</span>
                        <span class="material-icons">star_rate</span>
                        <span class="material-icons">star_rate</span>
                        <span class="material-icons">star_border</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide slide-tentang-kami">
                <img class="quotation-image" src="/images/straight-quotes 1 (1).png" alt="quotation-image">
                <div class="tentang-kami-content-container">
                    <div class="nama-foto-kami">
                        <div class="foto-kami">
                            <img src="/images/pamungkas.png" alt="pamungkas">
                        </div>
                        <div class="nama-pekerjaan-kami">
                            <div class="wrapper-nama-pekerjaan">
                                <p class="name">Pamungkas</p>
                                <p class="job">Mahasiswa</p>
                            </div>
                        </div>
                    </div>
                    <p class="content-text-tentang-kami"> Virtoural Keren! Awalnya skeptis, tapi ternyata
                        menarik banget! </p>
                    <div class="bintang-kami">
                        <span class="material-icons">star_rate</span>
                        <span class="material-icons">star_rate</span>
                        <span class="material-icons">star_rate</span>
                        <span class="material-icons">star_rate</span>
                        <span class="material-icons">star_border</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide slide-tentang-kami">
                <img class="quotation-image" src="/images/straight-quotes 1 (1).png" alt="quotation-image">
                <div class="tentang-kami-content-container">
                    <div class="nama-foto-kami">
                        <div class="foto-kami">
                            <img src="/images/maharani.png" alt="Maharani">
                        </div>
                        <div class="nama-pekerjaan-kami">
                            <div class="wrapper-nama-pekerjaan">
                                <p class="name">Maharani</p>
                                <p class="job">Mahasiswi</p>
                            </div>
                        </div>
                    </div>
                    <p class="content-text-tentang-kami">Temukan destinasi yang Anda inginkan dan lakukan tour
                        virtualmu tanpa harus keluar rumah</p>
                    <div class="bintang-kami">
                        <span class="material-icons">star_rate</span>
                        <span class="material-icons">star_rate</span>
                        <span class="material-icons">star_rate</span>
                        <span class="material-icons">star_rate</span>
                        <span class="material-icons">star_border</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination pagination-tentang-kami"></div>
    </div>
    <div class="swiper-button-next button-next-tentang-kami"><span
            class="material-icons arrow-right">chevron_right</span></div>
    <div class="swiper-button-prev button-prev-tentang-kami"><span
            class="material-icons arrow-left">chevron_left</span></div>
</div>