<div id="destinasi" class="destinasi-container">
    <p class="text-destinasi">Jelajahi destinasi terbaik</p>
    <p class="text-deskripsi-destinasi">Temukan tempat yang menakjubkan dan ikonik di seluruh Indonesia dengan jentikan jari</p>
    <div class="swiper mySwiper swiper-destinasi">
        <div class="swiper-wrapper">
            <% destinations.forEach((destination) => { %>
                <div class="swiper-slide slide-destinasi">
                    <a class="link-slide-destinasi" href="/destination/spottrips/<%= destination.id %>">
                        <!-- <div class="img-background-streamer-terbaik satu"> -->
                            <div class="wrapper-all-content-destinasi">
                                <img class="background-img-destinasi" src="/images/<%= destination.dataValues.image %>" alt="<%= destination.dataValues.destination_name %>">
                                <div class="wrapper-content-streamer-terbaik wrapper-content-destinasi">
                                    <div class="nama-destinasi"><%= destination.dataValues.destination_name %></div>
                                    <div class="bintang-kami">
                                        <% for (let i = 0; i < destination.dataValues.rating; i++) { %>
                                            <span class="material-icons material-bintang">star_rate</span>
                                        <% } %>
                                        <% for (let i = 0; i < (5 - destination.dataValues.rating); i++) { %>
                                            <span class="material-icons material-bintang">star_border</span>
                                        <% } %>
                                    </div>
                                    <div class="wrapper-streamer-spot-wisata">
                                        <div class="grid-streamer-spot-wisata">
                                            <div class="streamer">
                                                <p class="text-streamer">Klien</p>
                                                <p class="angka-streamer">15</p>
                                            </div>
                                            <div class="spot-wisata">
                                                <p class="text-spot-wisata">Spot Wisata</p>
                                                <p class="angka-spot-wisata">9</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <!-- </div> -->
                    </a>
                </div>
            <% }) %>
        </div>
        <div class="swiper-pagination pagination-destinasi"></div>
    </div>
    <div class="swiper-button-next button-next-destinasi"><span class="material-icons arrow-right">chevron_right</span></div>
    <div class="swiper-button-prev button-prev-destinasi"><span class="material-icons arrow-left">chevron_left</span></div>
</div>
