<div id="streamer" class="streamer-terbaik-container">
    <p class="text-streamer-terbaik">Streamer terbaik untukmu</p>
    <p class="text-deskripsi-streamer-terbaik">Tersedia berbagai pilihan streamer terbaik yang bisa memenuhi
        kebutuhanmu dalam menjelajahi destinasi wisata yang telah kamu pilih</p>
    <div class="swiper mySwiper swiper-streamer-terbaik">
        <div class="swiper-wrapper">
            <% streamers.forEach((streamer) => { %>
                <div class="swiper-slide slide-streamer-terbaik">
                    <a class="link-slide-streamer-terbaik" href="/streamer/<%= streamer.id %>">
                        <!-- <div class="img-background-streamer-terbaik satu"> -->
                        <div class="wrapper-all-content-streamer-terbaik">
                            <img class="background-img-streamer" src="/images/<%= streamer.dataValues.image_streamer %>" alt="<%= streamer.dataValues.streamer_fullname %>">
                            <div class="wrapper-content-streamer-terbaik">
                                <div class="nama-streamer-terbaik"><%= streamer.dataValues.streamer_fullname %></div>
                                <div class="bintang-kami">
                                    <% for (let i = 0; i < streamer.dataValues.rating; i++) { %>
                                        <span class="material-icons material-bintang">star_rate</span>
                                    <% } %>
                                    <% for (let i = 0; i < (5 - streamer.dataValues.rating); i++) { %>
                                        <span class="material-icons material-bintang">star_border</span>
                                    <% } %>
                                </div>
                                <div class="wrapper-klien-spot-wisata">
                                    <div class="grid-klien-spot-wisata">
                                        <div class="klien">
                                            <p class="text-klien">Klien</p>
                                            <p class="angka-klien">15</p>
                                        </div>
                                        <div class="spot-wisata">
                                            <p class="text-spot-wisata">Spot Wisata</p>
                                            <p class="angka-spot-wisata">9</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            <% }) %>
        </div>
        <div class="swiper-pagination pagination-streamer-terbaik"></div>
    </div>
    <div class="swiper-button-next button-next-streamer-terbaik"><span
            class="material-icons arrow-right">chevron_right</span></div>
    <div class="swiper-button-prev button-prev-streamer-terbaik"><span
            class="material-icons arrow-left">chevron_left</span></div>
</div>