<section class="spot-trip">
    <div class="spot-trip">
        <div class="spot-trip-container">
            <h2 class="spot-trip-title">Spot trip asik buat kamu</h2>
            <div class="spot-trip-content">
                <!-- <button class="spot-trip-button active">Jalan Asia Afrika</button>
                <button class="spot-trip-button">Jalan Braga</button>
                <button class="spot-trip-button">Gedung Sate</button>
                <button class="spot-trip-button">Kampung Cai Ranca Upas</button>
                <button class="spot-trip-button">Kawah Putih Ciwidey</button>
                <button class="spot-trip-button">Kawah Putih Ciwidey</button>
                <button class="spot-trip-button">Orchid Forest Cikole</button>
                <button class="spot-trip-button">Tebing Keraton</button>
                <button class="spot-trip-button">Bukit Moko</button> -->
                <%
                // Mengambil unique spottrip
                const unique_destination = []
                for (let i of destination_result.SpotTrips) {
                    let spot = i.name.toLowerCase().replaceAll(" ", "!")
                    if (!(unique_destination.includes(spot))) {
                        unique_destination.push(spot)
                    }
                }

                // Mengubah unique spottrip menjadi "Title Case" kembali
                const unique_destination_with_proper_name = []
                for (let i = 0; i < unique_destination.length; i++) {
                    let words = unique_destination[i].split("!")
                    let joined = []
                    for (let j = 0; j < words.length; j++) {
                        joined.push(words[j].charAt(0).toUpperCase() + words[j].slice(1))
                    }
                    unique_destination_with_proper_name.push(joined.join(" "))
                }
                %>
                <% unique_destination_with_proper_name.forEach((spot, i) => { %>
                    <% if (i == 0) { %>
                        <button class="<%= spot.toLowerCase().split(" ").join("!") %> spot-trip-button active"><%= spot %></button>
                    <% } else { %>
                        <button class="<%= spot.toLowerCase().split(" ").join("!") %> spot-trip-button"><%= spot %></button>
                    <% } %>
                <% }) %>
            </div>
        </div>
    </div>
    <div class="spot-trip-card-container">
        <% let spot = destination_result.SpotTrips %>
        <% unique_destination_with_proper_name.forEach((unique_spot, index) => { %>
            <% for (let i = 0; i < spot.length; i++) { %>
                <% if (unique_spot == spot[i].name) { %>
                    <% if (index == 0) { %>
                        <div class="<%= unique_spot.toLowerCase().split(" ").join("!") %> spot-trip-card">
                    <% } else { %>
                        <div class="<%= unique_spot.toLowerCase().split(" ").join("!") %> spot-trip-card hide">
                    <% } %>
                    <h2 class="spot-trip-card-title"><%= spot[i].name %></h2>
                    <p class="spot-trip-card-des">Durasi trip: <%= spot[i].duration %> jam</p>
                        <div class="spot-trip-card-content">
                            <div class="spot-trip-card-right">
                                <img src="/images/unsplash_xRixrjLL2W0.png" alt="" />
                                <div class="spot-trip-card-small-img">
                                    <img src="/images/unsplash_IsxXcdTp_dw.png" alt="" />
                                    <img src="/images/unsplash_vA8VoVwWtCM.png" alt="" />
                                    <img src="/images/unsplash_umk2pgtvMhk.png" alt="" />
                                </div>
                            </div>
                            <div class="spot-trip-card-center"></div>
                            <div class="spot-trip-card-left">
                                <p>Biaya Tour</p>
                                <p><%= `Rp ${spot[i].price}` %></p>
                                <p>Deskripsi Destinasi</p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla vitae lacinia lectus
                                    mattis justo, eget ut fames. Enim mauris suscipit ultricies lobortis eget lorem feugiat. Dolor
                                    in enim lacinia dui sed cursus.
                                    Dictum elit, amet rhoncus tristique maecenas congue tristique congue vitae. Semper nam velit,
                                    malesuada dignissim sed id sed at sit. Urna pharetra sem nec purus amet.
                                </p>
                                <p>Informasi Tambahan</p>
                                <div class="spot-trip-card-left-des">
                                    <img src="/images/carbon_location-filled.png" alt="" />
                                    <p>Jalan Asia Afrika No.56, Braga, Kota Bandung, Jawa Barat</p>
                                </div>
                                <div class="spot-trip-card-left-des">
                                    <img src="/images/bx_time-five.png" alt="" />
                                    <p>Jam operasional tour 08.00 - 19.00</p>
                                </div>
                                <button class="pilihstreamerbtn">Pilih Streamer</button>
                            </div>
                        </div>
                    </div>
                    <% break %>
                <% } %>
            <% } %>
        <% }) %>
        <!-- <div class="spot-trip-card hide">
            <h2 class="spot-trip-card-title">Jalan Braga</h2>
            <p class="spot-trip-card-des">Durasi trip: 1 jam</p>
            <div class="spot-trip-card-content">
                <div class="spot-trip-card-right">
                    <img src="images/unsplash_xRixrjLL2W0.png" alt="" />
                    <div class="spot-trip-card-small-img">
                        <img src="images/unsplash_IsxXcdTp_dw.png" alt="" />
                        <img src="images/unsplash_vA8VoVwWtCM.png" alt="" />
                        <img src="images/unsplash_umk2pgtvMhk.png" alt="" />
                    </div>
                </div>
                <div class="spot-trip-card-center"></div>
                <div class="spot-trip-card-left">
                    <p>Biaya Tour</p>
                    <p>Rp35.000</p>
                    <p>Deskripsi Destinasi</p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla vitae lacinia lectus
                        mattis justo, eget ut fames. Enim mauris suscipit ultricies lobortis eget lorem feugiat. Dolor
                        in enim lacinia dui sed cursus.
                        Dictum elit, amet rhoncus tristique maecenas congue tristique congue vitae. Semper nam velit,
                        malesuada dignissim sed id sed at sit. Urna pharetra sem nec purus amet.
                    </p>
                    <p>Informasi Tambahan</p>
                    <div class="spot-trip-card-left-des">
                        <img src="./images/carbon_location-filled.png" alt="" />
                        <p>Jalan Asia Afrika No.56, Braga, Kota Bandung, Jawa Barat</p>
                    </div>
                    <div class="spot-trip-card-left-des">
                        <img src="./images/bx_time-five.png" alt="" />
                        <p>Jam operasional tour 08.00 - 19.00</p>
                    </div>
                    <button><a href=""> Pilih Streamer</a></button>
                </div>
            </div>
        </div>
        <div class="spot-trip-card hide">
            <h2 class="spot-trip-card-title">Gedung Sate</h2>
            <p class="spot-trip-card-des">Durasi trip: 1 jam</p>
            <div class="spot-trip-card-content">
                <div class="spot-trip-card-right">
                    <img src="images/unsplash_xRixrjLL2W0.png" alt="" />
                    <div class="spot-trip-card-small-img">
                        <img src="images/unsplash_IsxXcdTp_dw.png" alt="" />
                        <img src="images/unsplash_vA8VoVwWtCM.png" alt="" />
                        <img src="images/unsplash_umk2pgtvMhk.png" alt="" />
                    </div>
                </div>
                <div class="spot-trip-card-center"></div>
                <div class="spot-trip-card-left">
                    <p>Biaya Tour</p>
                    <p>Rp35.000</p>
                    <p>Deskripsi Destinasi</p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla vitae lacinia lectus
                        mattis justo, eget ut fames. Enim mauris suscipit ultricies lobortis eget lorem feugiat. Dolor
                        in enim lacinia dui sed cursus.
                        Dictum elit, amet rhoncus tristique maecenas congue tristique congue vitae. Semper nam velit,
                        malesuada dignissim sed id sed at sit. Urna pharetra sem nec purus amet.
                    </p>
                    <p>Informasi Tambahan</p>
                    <div class="spot-trip-card-left-des">
                        <img src="./images/carbon_location-filled.png" alt="" />
                        <p>Jalan Asia Afrika No.56, Braga, Kota Bandung, Jawa Barat</p>
                    </div>
                    <div class="spot-trip-card-left-des">
                        <img src="./images/bx_time-five.png" alt="" />
                        <p>Jam operasional tour 08.00 - 19.00</p>
                    </div>
                    <button><a href=""> Pilih Streamer</a></button>
                </div>
            </div>
        </div>
        <div class="spot-trip-card hide">
            <h2 class="spot-trip-card-title">Kampung Cai Ranca Upas</h2>
            <p class="spot-trip-card-des">Durasi trip: 1 jam</p>
            <div class="spot-trip-card-content">
                <div class="spot-trip-card-right">
                    <img src="images/unsplash_xRixrjLL2W0.png" alt="" />
                    <div class="spot-trip-card-small-img">
                        <img src="images/unsplash_IsxXcdTp_dw.png" alt="" />
                        <img src="images/unsplash_vA8VoVwWtCM.png" alt="" />
                        <img src="images/unsplash_umk2pgtvMhk.png" alt="" />
                    </div>
                </div>
                <div class="spot-trip-card-center"></div>
                <div class="spot-trip-card-left">
                    <p>Biaya Tour</p>
                    <p>Rp35.000</p>
                    <p>Deskripsi Destinasi</p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla vitae lacinia lectus
                        mattis justo, eget ut fames. Enim mauris suscipit ultricies lobortis eget lorem feugiat. Dolor
                        in enim lacinia dui sed cursus.
                        Dictum elit, amet rhoncus tristique maecenas congue tristique congue vitae. Semper nam velit,
                        malesuada dignissim sed id sed at sit. Urna pharetra sem nec purus amet.
                    </p>
                    <p>Informasi Tambahan</p>
                    <div class="spot-trip-card-left-des">
                        <img src="./images/carbon_location-filled.png" alt="" />
                        <p>Jalan Asia Afrika No.56, Braga, Kota Bandung, Jawa Barat</p>
                    </div>
                    <div class="spot-trip-card-left-des">
                        <img src="./images/bx_time-five.png" alt="" />
                        <p>Jam operasional tour 08.00 - 19.00</p>
                    </div>
                    <button><a href=""> Pilih Streamer</a></button>
                </div>
            </div>
        </div>
        <div class="spot-trip-card hide">
            <h2 class="spot-trip-card-title">Kawah Putih Ciwidey</h2>
            <p class="spot-trip-card-des">Durasi trip: 1 jam</p>
            <div class="spot-trip-card-content">
                <div class="spot-trip-card-right">
                    <img src="images/unsplash_xRixrjLL2W0.png" alt="" />
                    <div class="spot-trip-card-small-img">
                        <img src="images/unsplash_IsxXcdTp_dw.png" alt="" />
                        <img src="images/unsplash_vA8VoVwWtCM.png" alt="" />
                        <img src="images/unsplash_umk2pgtvMhk.png" alt="" />
                    </div>
                </div>
                <div class="spot-trip-card-center"></div>
                <div class="spot-trip-card-left">
                    <p>Biaya Tour</p>
                    <p>Rp35.000</p>
                    <p>Deskripsi Destinasi</p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla vitae lacinia lectus
                        mattis justo, eget ut fames. Enim mauris suscipit ultricies lobortis eget lorem feugiat. Dolor
                        in enim lacinia dui sed cursus.
                        Dictum elit, amet rhoncus tristique maecenas congue tristique congue vitae. Semper nam velit,
                        malesuada dignissim sed id sed at sit. Urna pharetra sem nec purus amet.
                    </p>
                    <p>Informasi Tambahan</p>
                    <div class="spot-trip-card-left-des">
                        <img src="./images/carbon_location-filled.png" alt="" />
                        <p>Jalan Asia Afrika No.56, Braga, Kota Bandung, Jawa Barat</p>
                    </div>
                    <div class="spot-trip-card-left-des">
                        <img src="./images/bx_time-five.png" alt="" />
                        <p>Jam operasional tour 08.00 - 19.00</p>
                    </div>
                    <button><a href=""> Pilih Streamer</a></button>
                </div>
            </div>
        </div>
        <div class="spot-trip-card hide">
            <h2 class="spot-trip-card-title">Kawah Putih Ciwidey</h2>
            <p class="spot-trip-card-des">Durasi trip: 1 jam</p>
            <div class="spot-trip-card-content">
                <div class="spot-trip-card-right">
                    <img src="images/unsplash_xRixrjLL2W0.png" alt="" />
                    <div class="spot-trip-card-small-img">
                        <img src="images/unsplash_IsxXcdTp_dw.png" alt="" />
                        <img src="images/unsplash_vA8VoVwWtCM.png" alt="" />
                        <img src="images/unsplash_umk2pgtvMhk.png" alt="" />
                    </div>
                </div>
                <div class="spot-trip-card-center"></div>
                <div class="spot-trip-card-left">
                    <p>Biaya Tour</p>
                    <p>Rp35.000</p>
                    <p>Deskripsi Destinasi</p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla vitae lacinia lectus
                        mattis justo, eget ut fames. Enim mauris suscipit ultricies lobortis eget lorem feugiat. Dolor
                        in enim lacinia dui sed cursus.
                        Dictum elit, amet rhoncus tristique maecenas congue tristique congue vitae. Semper nam velit,
                        malesuada dignissim sed id sed at sit. Urna pharetra sem nec purus amet.
                    </p>
                    <p>Informasi Tambahan</p>
                    <div class="spot-trip-card-left-des">
                        <img src="./images/carbon_location-filled.png" alt="" />
                        <p>Jalan Asia Afrika No.56, Braga, Kota Bandung, Jawa Barat</p>
                    </div>
                    <div class="spot-trip-card-left-des">
                        <img src="./images/bx_time-five.png" alt="" />
                        <p>Jam operasional tour 08.00 - 19.00</p>
                    </div>
                    <button><a href=""> Pilih Streamer</a></button>
                </div>
            </div>
        </div>
        <div class="spot-trip-card hide">
            <h2 class="spot-trip-card-title">Orchid Forest Cikole</h2>
            <p class="spot-trip-card-des">Durasi trip: 1 jam</p>
            <div class="spot-trip-card-content">
                <div class="spot-trip-card-right">
                    <img src="images/unsplash_xRixrjLL2W0.png" alt="" />
                    <div class="spot-trip-card-small-img">
                        <img src="images/unsplash_IsxXcdTp_dw.png" alt="" />
                        <img src="images/unsplash_vA8VoVwWtCM.png" alt="" />
                        <img src="images/unsplash_umk2pgtvMhk.png" alt="" />
                    </div>
                </div>
                <div class="spot-trip-card-center"></div>
                <div class="spot-trip-card-left">
                    <p>Biaya Tour</p>
                    <p>Rp35.000</p>
                    <p>Deskripsi Destinasi</p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla vitae lacinia lectus
                        mattis justo, eget ut fames. Enim mauris suscipit ultricies lobortis eget lorem feugiat. Dolor
                        in enim lacinia dui sed cursus.
                        Dictum elit, amet rhoncus tristique maecenas congue tristique congue vitae. Semper nam velit,
                        malesuada dignissim sed id sed at sit. Urna pharetra sem nec purus amet.
                    </p>
                    <p>Informasi Tambahan</p>
                    <div class="spot-trip-card-left-des">
                        <img src="./images/carbon_location-filled.png" alt="" />
                        <p>Jalan Asia Afrika No.56, Braga, Kota Bandung, Jawa Barat</p>
                    </div>
                    <div class="spot-trip-card-left-des">
                        <img src="./images/bx_time-five.png" alt="" />
                        <p>Jam operasional tour 08.00 - 19.00</p>
                    </div>
                    <button><a href=""> Pilih Streamer</a></button>
                </div>
            </div>
        </div>
        <div class="spot-trip-card hide">
            <h2 class="spot-trip-card-title">Tebing Keraton</h2>
            <p class="spot-trip-card-des">Durasi trip: 1 jam</p>
            <div class="spot-trip-card-content">
                <div class="spot-trip-card-right">
                    <img src="images/unsplash_xRixrjLL2W0.png" alt="" />
                    <div class="spot-trip-card-small-img">
                        <img src="images/unsplash_IsxXcdTp_dw.png" alt="" />
                        <img src="images/unsplash_vA8VoVwWtCM.png" alt="" />
                        <img src="images/unsplash_umk2pgtvMhk.png" alt="" />
                    </div>
                </div>
                <div class="spot-trip-card-center"></div>
                <div class="spot-trip-card-left">
                    <p>Biaya Tour</p>
                    <p>Rp35.000</p>
                    <p>Deskripsi Destinasi</p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla vitae lacinia lectus
                        mattis justo, eget ut fames. Enim mauris suscipit ultricies lobortis eget lorem feugiat. Dolor
                        in enim lacinia dui sed cursus.
                        Dictum elit, amet rhoncus tristique maecenas congue tristique congue vitae. Semper nam velit,
                        malesuada dignissim sed id sed at sit. Urna pharetra sem nec purus amet.
                    </p>
                    <p>Informasi Tambahan</p>
                    <div class="spot-trip-card-left-des">
                        <img src="./images/carbon_location-filled.png" alt="" />
                        <p>Jalan Asia Afrika No.56, Braga, Kota Bandung, Jawa Barat</p>
                    </div>
                    <div class="spot-trip-card-left-des">
                        <img src="./images/bx_time-five.png" alt="" />
                        <p>Jam operasional tour 08.00 - 19.00</p>
                    </div>
                    <button><a href=""> Pilih Streamer</a></button>
                </div>
            </div>
        </div>
        <div class="spot-trip-card hide">
            <h2 class="spot-trip-card-title">Bukit Moko</h2>
            <p class="spot-trip-card-des">Durasi trip: 1 jam</p>
            <div class="spot-trip-card-content">
                <div class="spot-trip-card-right">
                    <img src="images/unsplash_xRixrjLL2W0.png" alt="" />
                    <div class="spot-trip-card-small-img">
                        <img src="images/unsplash_IsxXcdTp_dw.png" alt="" />
                        <img src="images/unsplash_vA8VoVwWtCM.png" alt="" />
                        <img src="images/unsplash_umk2pgtvMhk.png" alt="" />
                    </div>
                </div>
                <div class="spot-trip-card-center"></div>
                <div class="spot-trip-card-left">
                    <p>Biaya Tour</p>
                    <p>Rp35.000</p>
                    <p>Deskripsi Destinasi</p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla vitae lacinia lectus
                        mattis justo, eget ut fames. Enim mauris suscipit ultricies lobortis eget lorem feugiat. Dolor
                        in enim lacinia dui sed cursus.
                        Dictum elit, amet rhoncus tristique maecenas congue tristique congue vitae. Semper nam velit,
                        malesuada dignissim sed id sed at sit. Urna pharetra sem nec purus amet.
                    </p>
                    <p>Informasi Tambahan</p>
                    <div class="spot-trip-card-left-des">
                        <img src="./images/carbon_location-filled.png" alt="" />
                        <p>Jalan Asia Afrika No.56, Braga, Kota Bandung, Jawa Barat</p>
                    </div>
                    <div class="spot-trip-card-left-des">
                        <img src="./images/bx_time-five.png" alt="" />
                        <p>Jam operasional tour 08.00 - 19.00</p>
                    </div>
                    <button><a href=""> Pilih Streamer</a></button>
                </div>
            </div>
        </div> -->
    </div>
</section>