<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

<div id="streamerhide">
    <div class="eight-streamers-container">
        <h1 class="eight-streamers-title"><%= streamer_result.length %> Streamers</h1>
        <p class="eight-streamers-p">Siap nemenin kamu jalan-jalan</p>
        <div class="eight-streamers-card-container">
            <% streamer_result.forEach((streamer) => { %>
                <a href="/streamer/<%= streamer.id %>" class="abc">
                <div class="wrapper-eight-streamers-card-box">
                    <img class="background-img-streamer" src="/images/<%= streamer.image_streamer %>" alt="<%= streamer.streamer_fullname %>">
                    <div class="wrapper-eight-streamers-content">
                        <div class="eight-streamer-name"><%= streamer.streamer_fullname %></div>
                        <div class="star-icon">
                            <span class="material-icons material-bintang">star_rate</span>
                            <span class="material-icons material-bintang">star_rate</span>
                            <span class="material-icons material-bintang">star_rate</span>
                            <span class="material-icons material-bintang">star_rate</span>
                            <span class="material-icons material-bintang">star_border</span>
                        </div>
                        <div class="wrapper-klien-spot-wisata">
                            <div class="grid-klien-spot-wisata">
                                <div class="klien">
                                    <p class="text-klien">Klien</p>
                                    <p class="angka-klien">15</p>
                                </div>
                                <div class="spot-wisata">
                                    <p class="text-spot-wisata">Spot Wisata</p>
                                    <p class="angka-spot-wisata">9</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </a>
            <% }) %>
            <!-- <a href="#" target="_blank">
            <div class="wrapper-eight-streamers-card-box">
                <img class="background-img-streamer" src="/images/kholid.png" alt="Khalid">
                <div class="wrapper-eight-streamers-content">
                    <div class="eight-streamer-name">Khalid</div>
                    <div class="star-icon">
                        <span class="material-icons material-bintang">star_rate</span>
                        <span class="material-icons material-bintang">star_rate</span>
                        <span class="material-icons material-bintang">star_rate</span>
                        <span class="material-icons material-bintang">star_rate</span>
                        <span class="material-icons material-bintang">star_border</span>
                    </div>
                    <div class="wrapper-klien-spot-wisata">
                        <div class="grid-klien-spot-wisata">
                            <div class="klien">
                                <p class="text-klien">Klien</p>
                                <p class="angka-klien">15</p>
                            </div>
                            <div class="spot-wisata">
                                <p class="text-spot-wisata">Spot Wisata</p>
                                <p class="angka-spot-wisata">9</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a href="#" target="_blank">
            <div class="wrapper-eight-streamers-card-box">
                <img class="background-img-streamer" src="/images/Alya.png" alt="Alya">
                <div class="wrapper-eight-streamers-content">
                    <div class="eight-streamer-name">Alya</div>
                    <div class="star-icon">
                        <span class="material-icons material-bintang">star_rate</span>
                        <span class="material-icons material-bintang">star_rate</span>
                        <span class="material-icons material-bintang">star_rate</span>
                        <span class="material-icons material-bintang">star_rate</span>
                        <span class="material-icons material-bintang">star_border</span>
                    </div>
                    <div class="wrapper-klien-spot-wisata">
                        <div class="grid-klien-spot-wisata">
                            <div class="klien">
                                <p class="text-klien">Klien</p>
                                <p class="angka-klien">15</p>
                            </div>
                            <div class="spot-wisata">
                                <p class="text-spot-wisata">Spot Wisata</p>
                                <p class="angka-spot-wisata">9</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a href="#" target="_blank">
            <div class="wrapper-eight-streamers-card-box">
                <img class="background-img-streamer" src="/images/rangga.png" alt="Rangga">
                <div class="wrapper-eight-streamers-content">
                    <div class="eight-streamer-name">Rangga</div>
                    <div class="star-icon">
                        <span class="material-icons material-bintang">star_rate</span>
                        <span class="material-icons material-bintang">star_rate</span>
                        <span class="material-icons material-bintang">star_rate</span>
                        <span class="material-icons material-bintang">star_rate</span>
                        <span class="material-icons material-bintang">star_border</span>
                    </div>
                    <div class="wrapper-klien-spot-wisata">
                        <div class="grid-klien-spot-wisata">
                            <div class="klien">
                                <p class="text-klien">Klien</p>
                                <p class="angka-klien">15</p>
                            </div>
                            <div class="spot-wisata">
                                <p class="text-spot-wisata">Spot Wisata</p>
                                <p class="angka-spot-wisata">9</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a href="#" target="_blank">
            <div class="wrapper-eight-streamers-card-box">
                <img class="background-img-streamer" src="/images/adi.png" alt="Adi">
                <div class="wrapper-eight-streamers-content">
                    <div class="eight-streamer-name">Adi</div>
                    <div class="star-icon">
                        <span class="material-icons material-bintang">star_rate</span>
                        <span class="material-icons material-bintang">star_rate</span>
                        <span class="material-icons material-bintang">star_rate</span>
                        <span class="material-icons material-bintang">star_rate</span>
                        <span class="material-icons material-bintang">star_border</span>
                    </div>
                    <div class="wrapper-klien-spot-wisata">
                        <div class="grid-klien-spot-wisata">
                            <div class="klien">
                                <p class="text-klien">Klien</p>
                                <p class="angka-klien">15</p>
                            </div>
                            <div class="spot-wisata">
                                <p class="text-spot-wisata">Spot Wisata</p>
                                <p class="angka-spot-wisata">9</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a href="#" target="_blank">
            <div class="wrapper-eight-streamers-card-box">
                <img class="background-img-streamer" src="/images/ivan.png" alt="Ivan">
                <div class="wrapper-eight-streamers-content">
                    <div class="eight-streamer-name">Ivan</div>
                    <div class="star-icon">
                        <span class="material-icons material-bintang">star_rate</span>
                        <span class="material-icons material-bintang">star_rate</span>
                        <span class="material-icons material-bintang">star_rate</span>
                        <span class="material-icons material-bintang">star_rate</span>
                        <span class="material-icons material-bintang">star_border</span>
                    </div>
                    <div class="wrapper-klien-spot-wisata">
                        <div class="grid-klien-spot-wisata">
                            <div class="klien">
                                <p class="text-klien">Klien</p>
                                <p class="angka-klien">15</p>
                            </div>
                            <div class="spot-wisata">
                                <p class="text-spot-wisata">Spot Wisata</p>
                                <p class="angka-spot-wisata">9</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a href="#" target="_blank">
            <div class="wrapper-eight-streamers-card-box">
                <img class="background-img-streamer" src="/images/wening.png" alt="Wening">
                <div class="wrapper-eight-streamers-content">
                    <div class="eight-streamer-name">Wening</div>
                    <div class="star-icon">
                        <span class="material-icons material-bintang">star_rate</span>
                        <span class="material-icons material-bintang">star_rate</span>
                        <span class="material-icons material-bintang">star_rate</span>
                        <span class="material-icons material-bintang">star_rate</span>
                        <span class="material-icons material-bintang">star_border</span>
                    </div>
                    <div class="wrapper-klien-spot-wisata">
                        <div class="grid-klien-spot-wisata">
                            <div class="klien">
                                <p class="text-klien">Klien</p>
                                <p class="angka-klien">15</p>
                            </div>
                            <div class="spot-wisata">
                                <p class="text-spot-wisata">Spot Wisata</p>
                                <p class="angka-spot-wisata">9</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a href="#" target="_blank">
            <div class="wrapper-eight-streamers-card-box">
                <img class="background-img-streamer" src="/images/exa.png" alt="Exa">
                <div class="wrapper-eight-streamers-content">
                    <div class="eight-streamer-name">Exa</div>
                    <div class="star-icon">
                        <span class="material-icons material-bintang">star_rate</span>
                        <span class="material-icons material-bintang">star_rate</span>
                        <span class="material-icons material-bintang">star_rate</span>
                        <span class="material-icons material-bintang">star_rate</span>
                        <span class="material-icons material-bintang">star_border</span>
                    </div>
                    <div class="wrapper-klien-spot-wisata">
                        <div class="grid-klien-spot-wisata">
                            <div class="klien">
                                <p class="text-klien">Klien</p>
                                <p class="angka-klien">15</p>
                            </div>
                            <div class="spot-wisata">
                                <p class="text-spot-wisata">Spot Wisata</p>
                                <p class="angka-spot-wisata">9</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a> -->
        </div>
        <div class="eight-streamer-menu">
            <h1>1 - 8 <span>dari</span> 8</h1>
        </div>
    </div>
</div>
