<footer>
    <div class="footer-container">
        <!-- <img src="/images/logo-footer.png" alt="" class="logo"> -->
        <div class="footer-logo-container">
            <h1 class="footer-logo" href="#home">Vir<span>toural</span></h1>
        </div>
        <div class="footer-text-container">
            <p class="footer-text">Your trusted virtual tour guide </p>
        </div>
        <div class="navbar-footer">
            <div class="navbar-link">
                <ul class="navbar-links">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#destinasi">Discover</a></li>
                    <li><a href="#kamiciptakan">About Us</a></li>
                    <li><a href="#help">Help Center</a></li>
                </ul>
            </div>
            <div class="navbar-icon">
                <div class="footer-icon">
                    <a href="#"><img src="/images/facebook.png" alt=""></a>
                    <a href="#"><img src="/images/twitter.png" alt=""></a>
                    <a href="#"><img src="/images/instagram.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</footer>