    <section id="jumbotron-destinasi">
        <img class="img-jumbotron-destinasi" src="/images/<%= destination_result.image %>" alt="">
        <div id="jumbowrap">
            <div class="jumbotext">
                <h1><%= destination_result.destination_name %></h1>
                <h4>
                    <%= destination_result.description %>
                </h4>
            </div>
        </div>
    </section>