    <section id="jumbotron-homepage">
        <img class="img-jumbotron-homepage" src="/images/pexels-dimitri-dim-4741215 1.png" alt="">
        <div id="jumbowrap">
            <div class="jumbotext">
                <h1>Jelajahi destinasi Anda bersama Kami dan dapatkan pengalaman baru!</h1>
                <h4>
                    Kami menyediakan berbagai trip online dengan kualitas terbaik, bersama streamer idolamu, dengan praktis dan terjangkau.
                </h3>
            </div>
            <div class="jumbobtn">
                <a href="#destinasi" style="margin-right: 25px;">
                    <div class="btn-grad">
                    Mulai Trip Sekarang
                </div>
                </a>
                <a href="#kamiciptakan">
                    <button type="button" class="btn-sec">Selengkapnya</button>
                </a>
            </div>
        </div>
    </section>