<% const firstName = streamer_result.streamer_fullname.split(" ")[0] %>
<section class="mulaitrip-section" id="mulaitrip">
    <h4 class="mulaitrip-title">Mulai Trip Dengan <%= firstName %></h4>
    <form action="/checkout" method="POST">
        <h5 class="mulaitrip-subtitle">Pilih waktu trip kamu</h5>
        <div class="mulaitrip-input">
            <input class="mulaitrip-date" type="date" name="date" id="" />
            <input class="mulaitrip-time" type="time" name="time" id="" />
        </div>
        <h5 class="mulaitrip-subtitle">Pilih destinasi trip kamu</h5>
        <div class="mulaitrip-list">
        <% let i = 100 %>
        <% streamer_result.SpotTrips.forEach((spot) => { %>
            <div class="card">
                <img src="/images/<%= spot.image %>" alt="<%= spot.name %>">
                <div class="card-body">
                    <h6 class="card-title"><%= spot.name %></h6>
                    <p class="card-subtitle">Durasi trip <%= spot.duration %> jam</p>
                    <p class="card-price">Rp <%= spot.price %></p>
                    <div class="card-buttons">
                        <input class="checkbox" type="checkbox" name="spottrip" id="<%= i %>" value="<%= spot.id %>">
                        <label for="<%= i %>">Tambah</label>
                        <!-- <button class="card-button-primary">Tambah</button> -->
                        <button class="card-button-secondary" type="button">Detail</button>
                    </div>
                </div>
            </div>
            <% i++ %>
        <% }) %>
            <!-- <div class="card">
                <img src="/images/card1.png" alt="destinasi pilihan">
                <div class="card-body">
                    <h6 class="card-title">asia afrika</h6>
                    <p class="card-subtitle">durasi</p>
                    <p class="card-price">Rp35.000</p>
                    <div class="card-buttons">
                        <button class="card-button-primary">Tambah</button>

                        <button class="card-button-secondary">Detail</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="/images/card1.png" alt="destinasi pilihan">
                <div class="card-body">
                    <h6 class="card-title">asia afrika</h6>
                    <p class="card-subtitle">durasi</p>
                    <p class="card-price">Rp35.000</p>
                    <div class="card-buttons">
                        <button class="card-button-primary">Tambah</button>

                        <button class="card-button-secondary">Detail</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="/images/card1.png" alt="destinasi pilihan">
                <div class="card-body">
                    <h6 class="card-title">asia afrika</h6>
                    <p class="card-subtitle">durasi</p>
                    <p class="card-price">Rp35.000</p>
                    <div class="card-buttons">
                        <button class="card-button-primary">Tambah</button>

                        <button class="card-button-secondary">Detail</button>
                    </div>
                </div>
            </div> -->
        </div>
        <h5 class="mulaitrip-subtitle-bawah">Pilih paket servis yang kamu suka</h5>
        <div class="mulaitrip-list">
        <% let j = 500 %>
        <% streamer_result.OptionalPackages.forEach((paket) => { %>
            <div class="card">
                <img src="/images/<%= paket.image %>" alt="<%= paket.name %>">
                <div class="card-body">
                    <h6 class="card-title"><%= paket.name %></h6>
                    <p class="card-price">Rp <%= paket.price %></p>
                    <div class="card-buttons">
                        <input class="checkbox" type="checkbox" name="paket" id="<%= j %>" value="<%= paket.id %>">
                        <label for="<%= j %>">Tambah</label>
                        <!-- <button class="card-button-primary">Tambah</button> -->
                        <button class="card-button-secondary" type="button">Detail</button>
                    </div>
                </div>
            </div>
            <% j++ %>
        <% }) %>
            <!-- <div class="card">
                <img src="/images/card1.png" alt="destinasi pilihan">
                <div class="card-body">
                    <h6 class="card-title">asia afrika</h6>
                    <p class="card-subtitle">durasi</p>
                    <p class="card-price">Rp35.000</p>
                    <div class="card-buttons">
                        <button class="card-button-primary">Tambah</button>

                        <button class="card-button-secondary">Detail</button>
                    </div>
                </div>
            </div>

            <div class="card">
                <img src="/images/card1.png" alt="destinasi pilihan">
                <div class="card-body">
                    <h6 class="card-title">asia afrika</h6>
                    <p class="card-subtitle">durasi</p>
                    <p class="card-price">Rp35.000</p>
                    <div class="card-buttons">
                        <button class="card-button-primary">Tambah</button>

                        <button class="card-button-secondary">Detail</button>
                    </div>
                </div>
            </div> -->
        </div>
        <!-- <div class="card">
            <img src="/images/card1.png" alt="destinasi pilihan">
            <div class="card-body">
                <h6 class="card-title">asia afrika</h6>
                <p class="card-subtitle">durasi</p>
                <p class="card-price">Rp35.000</p>
                <div class="card-buttons">
                    <button class="card-button-primary">Tambah</button>

                    <button class="card-button-secondary">Detail</button>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="/images/card1.png" alt="destinasi pilihan">
            <div class="card-body">
                <h6 class="card-title">asia afrika</h6>
                <p class="card-subtitle">durasi</p>
                <p class="card-price">Rp35.000</p>
                <div class="card-buttons">
                    <button class="card-button-primary">Tambah</button>

                    <button class="card-button-secondary">Detail</button>
                </div>
            </div>
        </div> -->
        <div class="button-order-tiket">
            <button class="button-primary" id="haruslogin-alert">Order Tiket</button>
        </div>
    </form>
</section>
<script>
    const checkboxes = document.querySelectorAll('input[type="checkbox"]');
    const tambahBtn = document.querySelector('.tambah-btn');
    checkboxes.forEach((el) => {
        el.addEventListener('click', () => {
        const card = el.parentElement.parentElement.parentElement;
        card.classList.toggle('active')
        
        })

        
    
    })

    
    

</script>