<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DRAFT - VT Homepage</title>

    <!-- <link rel="stylesheet" href="style.css"> UNPREDICTED ERROR!!!-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>

<!-- ========================NAV========================== -->
    <nav id="nav">
        <div id="navleft">
            <a href="/" class="logo">Vir<span>toural</span></a>
        </div>
        <div id="navcenter">
            <a href="/#home" class="home">Beranda</a>
            <a href="/#destinasi" class="destinasi-navbar">Destinasi</a>
            <a href="/#streamer" class="streamer-navbar">Streamer</a>
            <a href="#kamiciptakan" class="tentang-kami-navbar">Tentang Kami</a>
        </div>
        <div id="navright">
            <% if (!user) { %>
                <a href="?login=true"><button type="button" id="loginbtn" class="btn-blue">Masuk</button></a>
                <a href="?register=true"><button type="button" class="btn-grad daftarbtn">Daftar</button></a>
            <% } else { %>
                <% if (user.is_streamer) { %>
                    <label for="namauser">Hai, <%= user.streamer_fullname.split(" ")[0] %>!</label>
                <% } else { %>
                        <label for="namauser">Hai, <%= user.user_fullname.split(" ")[0] %>!</label>
                <% } %>
                <div>
                    <img class="avatarcircle" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="">
                </div>
                <button class="avatardropdownbtn">
                    <i class="fa-solid fa-caret-down"></i>
                </button>
                <div class="avatardropdown dropdown-menu">
                    <div class="list-dropdown">
                        <a class="dropdown-item" href="/user/profile/<%= user.uuid %>"><i class="fa-solid fa-user"></i>
                            Akun</a>
                    </div>
                    <div class="list-dropdown">
                        <a class="dropdown-item" href="/checkout/myticket/<%= user.id %>"><i class="fa-solid fa-ticket"></i> Tiket saya</a>
                    </div>
                    <div class="list-dropdown">
                        <a class="dropdown-item keluarbtn" href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Keluar</a>
                    </div>
                </div>
            <% } %>
        </div>
    </nav>

<!-- ========================NAV USER========================== -->

    <!-- <nav id="nav-user">
        <div id="navleft">
            <a href="#home" class="logo">Vir<span>toural</span></a>
        </div>
        <div id="navcenter">
            <a href="#home" class="home">Beranda</a>
            <a href="#destinasi">Destinasi</a>
            <a href="#streamer">Streamer</a>
            <a href="#">Tentang Kami</a>
        </div>
        <div id="navright">
            <label for="namauser">Hai, *username*!</label>
            <div class="avatarcircle">
                <img src="" alt="">
            </div>
            <button class="avatardropdownbtn">
                <i class="fa-solid fa-caret-down"></i>
            </button>
            <div class="avatardropdown dropdown-menu">
                <div class="list-dropdown">
                    <a class="dropdown-item" href="#"><i class="fa-solid fa-user"></i>
                        Akun</a>
                </div>
                <div class="list-dropdown">
                    <a class="dropdown-item" href="#"><i class="fa-solid fa-ticket"></i> Tiket saya</a>
                </div>
                <div class="list-dropdown">
                    <a class="dropdown-item keluarbtn" href="#"><i class="fa-solid fa-right-from-bracket"></i> Keluar</a>
                </div>
            </div>
        </div>
    </nav> -->


<!-- ========================POP UP MODAl========================== -->

<!-- MODAL BOX - MASUK  -->

    <div id="loginmodal" class="modal-bg">
        <div class="modalbox">
            <span class="material-icons cancelbtn">cancel</span>
            <div class="modaltitle">
                <label class="left-title">Masuk</label>
                <a href="?register=true"><label class="helper helperbtn daftarbtn">Daftar</label></a>
            </div>
            <form action="/login" method="post" class="formcontainer">
                <div class="modalform">
                    <label for="email"><b>Email</b></label>
                    <input type="text" name="login_email" placeholder="contoh:email@gmail.com" required>
                    <label for="psw"><b>Password</b></label>
                    <div class="form-psw">
                        <input type="password" id="psw-field" name="login_psw" placeholder="minimal password 6 karakter" required>
                        <span toggle="#psw-field" class="fa fa-solid fa-eye field-icon toggle-psw"></span>
                    </div>
                    <label id="lupabtn" class="helper lupapwd">Lupa Password?</label>
                </div>
                <a class="loginbtnstrech">
                    <button class="loginbtnstrech masuknavuser" type="submit">Masuk</button>
                </a>
            </form>
            <label class="modalfooter">Butuh bantuan? <span class="helper">Kontak Kami</span></label>
        </div>
    </div>

    <!-- MODAL BOX - DAFTAR  -->

    <div id="daftarmodal" class="modal-bg">
        <div class="modalbox">
            <span class="material-icons cancelbtn">cancel</span>
            <div class="modaltitle">
                <label class="left-title">Daftar</label>
                <a href="?login=true"><label id="masukbtn" class="helper helperbtn">Masuk</label></a>
            </div>
            <form action="/register" method="post">
                <div class="modalform">
                    <div class="formcontainer">
                        <label for="name"><b>Nama Lengkap</b></label>
                        <input type="text" name="name" placeholder="contoh:mini project Tim B" required>
                        <label for="email"><b>Email</b></label>
                        <input type="text" name="email" placeholder="contoh:email@gmail.com" required>
                        <label for="psw"><b>Password</b></label>
                        <div class="form-psw">
                            <input type="password" id="psw-field" name="psw" placeholder="minimal password 6 karakter" required>
                            <span toggle="#psw-field" class="fa fa-solid fa-eye field-icon toggle-psw"></span>
                        </div>
                    </div>
                    <div class="formcontstreamer">
                        <label for="opttobestr" class="minatjadistreamer"><b>Kamu berminat menjadi Streamer?</b></label><br>
                        <div class="radioform radioyes">
                            <input type="radio" id="ya_streamer" name="opttobestr" value="iya" required>
                            <label for="ya_streamer">Ya</label>
                        </div>
                        <div class="radioform radiono">
                            <input type="radio" id="tidak_streamer" name="opttobestr" value="tidak" required checked>
                            <label for="tidak_streamer">Tidak</label>
                        </div>
                    </div>
                </div>
                <div id="extenddatastreamer" style="display:none">
                    <div class="modaltitle">
                        <label class="left-title">Data Streamer</label>
                    </div>
                    <div class="modalform">
                        <div class="formcontainer">
                            <label for="bday"><b>Tanggal Lahir</b></label>
                            <input type="date" name="bday">
                            <label for="address"><b>Alamat</b></label><br>
                            <textarea name="address" id="address"></textarea><br>
                            <label for="nohp"><b>Nomor Telepon</b></label>
                            <input type="number" name="nohp">
                            <label for="gender"><b>Jenis Kelamin</b></label><br>
                            <div class="select-wrapper"><select class="selectgender" name="gender" id="gender">
                                <option value="pria">Pria</option>
                                <option value="wanita">Wanita</option>
                            </select></div>
                        </div>
                    </div>
                </div>
                <a class="loginbtnstrech">
                    <button class="loginbtnstrech">Daftar Sekarang</button>
                </a>
            </form>
            <label class="modalfooter">Butuh bantuan? <span class="helper">Kontak Kami</span></label>
        </div>
    </div>

<!-- MODAL BOX - LUPA PASSWORD  -->

    <div id="lupamodal" class="modal-bg">
        <div class="modalbox">
            <span class="material-icons cancelbtn">cancel</span>
            <div class="lupatitlewrapper">
                <label class="lupatitle">Lupa Password</label>
                <label class="lupatext">Kami akan mengirimkan email untuk mengatur kembali password kamu</label>
            </div>
            <div class="modalform">
                <form action="#" class="formcontainer">
                    <label for="email"><b>Email</b></label>
                    <input type="text" name="email" placeholder="contoh:email@gmail.com" required>
                </form>
            </div>
            <a href="#" class="loginbtnstrech masukemail">
                <button class="loginbtnstrech masukemail">Submit</button>
            </a>
            <label class="modalfooter">Butuh bantuan? <span class="helper">Kontak Kami</span></label>
        </div>
    </div>

    <div id="lupamodal2" class="modal-bg">
        <div class="modalbox">
            <div class="containeremail">
                <div class="boxemail">
                    <div class="border one"></div>
                    <div class="border two"></div>
                    <div class="border three"></div>
                    <div class="border four"></div>
            
                    <div class="line one"></div>
                    <div class="line two"></div>
                    <div class="line three"></div>
                </div>
            </div>
            <div class="lupatitlewrapper">
                <label class="lupatitle">Terkirim!</label>
                <label class="lupatext">Silahkan periksa email masuk kamu, untuk mengatur kembali password akun kamu</label>
            </div>
            <a href="#" class="loginbtnstrech buatpsw">
                <button class="loginbtnstrech buatpsw">Buat Password Baru</button>
            </a>
        </div>
    </div>

    <div id="lupamodal3" class="modal-bg">
        <div class="modalbox">
            <span class="material-icons cancelbtn">cancel</span>
            <div class="modaltitle">
                <label class="left-title">Lupa Password</label>
            </div>
            <div class="modalform">
                <form action="#" class="formcontainer">
                    <label for="psw"><b>Password Baru</b></label>
                    <div class="form-psw">
                        <input type="password" id="psw-field" name="psw" placeholder="minimal password 6 karakter" required>
                        <span toggle="#psw-field" class="fa fa-solid fa-eye field-icon toggle-psw"></span>
                    </div>
                    <label for="psw"><b>Konfirmasi Password Baru</b></label>
                    <div class="form-psw">
                        <input type="password" id="psw-field" name="psw" placeholder="minimal password 6 karakter" required>
                        <span toggle="#psw-field" class="fa fa-solid fa-eye field-icon toggle-psw"></span>
                    </div>
                </form>
            </div>
            <a href="#" class="loginbtnstrech buatpsw2">
                <button class="loginbtnstrech buatpsw2">Buat Password Baru</button>
            </a>
            <label class="modalfooter">Butuh bantuan? <span class="helper">Kontak Kami</span></label>
        </div>
    </div>

    <div id="lupamodal4" class="modal-bg">
        <div class="modalbox">
            <div class="swal-icon swal-icon--success">
                <span class="swal-icon--success__line swal-icon--success__line--long"></span>
                <span class="swal-icon--success__line swal-icon--success__line--tip"></span>
                <div class="swal-icon--success__ring"></div>
                <div class="swal-icon--success__hide-corners"></div>
            </div>
            <div class="lupatitlewrapper">
                <label class="lupatitle">Kata Sandi Sudah Diubah!</label>
                <label class="lupatext">Pakai kata passwordmu yang baru untuk masuk lagi ke Virtoural jangan bagikan kata sandi ini ke siapapun, ya!</label>
            </div>
            <a href="#" class="loginbtnstrech masukvt">
                <button class="loginbtnstrech masukvt">Masuk ke Virtoural</button>
            </a>
        </div>
    </div>

<!-- <script src="main.js"></script> UNPREDICTED ERROR!!! --> 


</body>
</html>
