<!-- ========================TOP BUTTON========================== -->

    <!-- <button id="myBtn" title="Go to top">
        <span class="material-icons">
            arrow_upward
        </span>
    </button> -->

<!-- ========================POP UP MODAl========================== -->

<!-- MODAL BOX - MASUK  -->

    <div id="loginmodal" class="modal-bg">
        <div class="modalbox">
            <span class="material-icons cancelbtn">cancel</span>
            <div class="modaltitle">
                <label class="left-title">Masuk</label>
                <label id="daftarbtn" class="helper helperbtn">Daftar</label>
            </div>
            <div class="modalform">
                <form action="#" class="formcontainer">
                    <label for="email"><b>Email</b></label>
                    <input type="text" name="email" placeholder="contoh:email@gmail.com" required>
                    <label for="psw"><b>Password</b></label>
                    <div class="form-psw">
                        <input type="password" id="psw-field" name="psw" placeholder="minimal password 6 karakter" required>
                        <span toggle="#psw-field" class="fa fa-solid fa-eye field-icon toggle-psw"></span>
                    </div>
                </form>
                <label id="lupabtn" class="helper lupapwd">Lupa Password?</label>
            </div>
            <a href="#" class="loginbtnstrech">
                <button class="loginbtnstrech">Masuk</button>
            </a>
            <label class="modalfooter">Butuh bantuan? <span class="helper">Kontak Kami</span></label>
        </div>
    </div>

<!-- MODAL BOX - DAFTAR  -->

    <div id="daftarmodal" class="modal-bg">
        <div class="modalbox">
            <span class="material-icons cancelbtn">cancel</span>
            <div class="modaltitle">
                <label class="left-title">Daftar</label>
                <label id="masukbtn" class="helper helperbtn">Masuk</label>
            </div>
            <div class="modalform">
                <form action="#" class="formcontainer">
                    <label for="name"><b>Nama Lengkap</b></label>
                    <input type="text" name="name" placeholder="contoh:mini project Tim B" required>
                    <label for="email"><b>Email</b></label>
                    <input type="text" name="email" placeholder="contoh:email@gmail.com" required>
                    <label for="psw"><b>Password</b></label>
                    <div class="form-psw">
                        <input type="password" id="psw-field" name="psw" placeholder="minimal password 6 karakter" required>
                        <span toggle="#psw-field" class="fa fa-solid fa-eye field-icon toggle-psw"></span>
                    </div>
                </form>
                <form action="#" class="formcontstreamer">
                    <label for="opttobestr" class="minatjadistreamer"><b>Kamu berminat menjadi Streamer?</b></label><br>
                    <div class="radioform radioyes">
                        <input type="radio" name="opttobestr" value="ya" required>
                        <label for="ya">Ya</label>
                    </div>
                    <div class="radioform radiono">
                        <input type="radio" name="opttobestr" value="tidak" required checked>
                        <label for="tidak">Tidak</label>
                    </div>
                </form>
            </div>
            <div id="extenddatastreamer" style="display:none">
                <div class="modaltitle">
                    <label class="left-title">Data Streamer</label>
                </div>
                <div class="modalform">
                    <form action="#" class="formcontainer">
                        <label for="bday"><b>Tanggal Lahir</b></label>
                        <input type="date" name="bday" required>
                        <label for="address"><b>Alamat</b></label><br>
                        <textarea name="address" id="address"></textarea><br>
                        <label for="nohp"><b>Nomor Telepon</b></label>
                        <input type="number" name="nohp" required>
                        <label for="gender"><b>Jenis Kelamin</b></label><br>
                        <div class="select-wrapper"><select class="selectgender" name="gender" id="gender">
                            <option value="pria">Pria</option>
                            <option value="wanita">Wanita</option>
                        </select></div>
                    </form>
                </div>
            </div>
            <a href="#" class="loginbtnstrech">
                <button class="loginbtnstrech">Daftar Sekarang</button>
            </a>
            <label class="modalfooter">Butuh bantuan? <span class="helper">Kontak Kami</span></label>
        </div>
    </div>

<!-- MODAL BOX - LUPA PASSWORD  -->

    <div id="lupamodal" class="modal-bg">
        <div class="modalbox">
            <span class="material-icons cancelbtn">cancel</span>
            <div class="lupatitlewrapper">
                <label class="lupatitle">Lupa Password</label>
                <label class="lupatext">Kami akan mengirimkan email untuk mengatur kembali password kamu</label>
            </div>
            <div class="modalform">
                <form action="#" class="formcontainer">
                    <label for="email"><b>Email</b></label>
                    <input type="text" name="email" placeholder="contoh:email@gmail.com" required>
                </form>
            </div>
            <a href="#" class="loginbtnstrech masukemail">
                <button class="loginbtnstrech masukemail">Submit</button>
            </a>
            <label class="modalfooter">Butuh bantuan? <span class="helper">Kontak Kami</span></label>
        </div>
    </div>

    <div id="lupamodal2" class="modal-bg">
        <div class="modalbox">
            <div class="containeremail">
                <div class="boxemail">
                    <div class="border one"></div>
                    <div class="border two"></div>
                    <div class="border three"></div>
                    <div class="border four"></div>
            
                    <div class="line one"></div>
                    <div class="line two"></div>
                    <div class="line three"></div>
                </div>
            </div>
            <div class="lupatitlewrapper">
                <label class="lupatitle">Terkirim!</label>
                <label class="lupatext">Silahkan periksa email masuk kamu, untuk mengatur kembali password akun kamu</label>
            </div>
            <a href="#" class="loginbtnstrech buatpsw">
                <button class="loginbtnstrech buatpsw">Buat Password Baru</button>
            </a>
        </div>
    </div>

    <div id="lupamodal3" class="modal-bg">
        <div class="modalbox">
            <span class="material-icons cancelbtn">cancel</span>
            <div class="modaltitle">
                <label class="left-title">Lupa Password</label>
            </div>
            <div class="modalform">
                <form action="#" class="formcontainer">
                    <label for="psw"><b>Password Baru</b></label>
                    <div class="form-psw">
                        <input type="password" id="psw-field" name="psw" placeholder="minimal password 6 karakter" required>
                        <span toggle="#psw-field" class="fa fa-solid fa-eye field-icon toggle-psw"></span>
                    </div>
                    <label for="psw"><b>Konfirmasi Password Baru</b></label>
                    <div class="form-psw">
                        <input type="password" id="psw-field" name="psw" placeholder="minimal password 6 karakter" required>
                        <span toggle="#psw-field" class="fa fa-solid fa-eye field-icon toggle-psw"></span>
                    </div>
                </form>
            </div>
            <a href="#" class="loginbtnstrech buatpsw2">
                <button class="loginbtnstrech buatpsw2">Buat Password Baru</button>
            </a>
            <label class="modalfooter">Butuh bantuan? <span class="helper">Kontak Kami</span></label>
        </div>
    </div>

    <div id="lupamodal4" class="modal-bg">
        <div class="modalbox">
            <div class="swal-icon swal-icon--success">
                <span class="swal-icon--success__line swal-icon--success__line--long"></span>
                <span class="swal-icon--success__line swal-icon--success__line--tip"></span>
                <div class="swal-icon--success__ring"></div>
                <div class="swal-icon--success__hide-corners"></div>
            </div>
            <div class="lupatitlewrapper">
                <label class="lupatitle">Kata Sandi Sudah Diubah!</label>
                <label class="lupatext">Pakai kata passwordmu yang baru untuk masuk lagi ke Virtoural jangan bagikan kata sandi ini ke siapapun, ya!</label>
            </div>
            <a href="#" class="loginbtnstrech masukvt">
                <button class="loginbtnstrech masukvt">Masuk ke Virtoural</button>
            </a>
        </div>
    </div>