<div class="container-Streamer-Profile d-flex flex-column justify-content-center align-items-center">
    <img src="/images/<%= streamer_result.image_streamer %>" alt="" style="border-radius: 100%;">
    <div class="nama-streamer-profile-container">
        <p class="nama-streamer"><%= streamer_result.streamer_fullname %></p>
    </div>
    <div class="wrapper-button-streamer-profile">
        <a href="#mulaitrip">
            <button type="submit" class="button-mulai-trip">Mulai Trip</button>
        </a>
    </div>
</div>