<% const firstName = streamer_result.streamer_fullname.split(" ")[0] %>
<div class="container-all-streamer-galeri d-flex align-items-center flex-column">
    <div class="container-tentang-streamer d-flex flex-column">
        <div class="tentang-streamer">
            <p class="judul-tentang-streamer">Tentang <%= firstName %></p>
        </div>
        <div class="stack-all-content-streamer d-flex">
            <div class="content-tentang-streamer">
                <p class="text-content-tentang-streamer"><%= streamer_result.description %></p>
            </div>
            <div class="vr"></div>
            <div class="temukan-sosmed-streamer">
                <div class="judul-sosmed">
                    <p class="text-judul-sosmed">Temukan <%= firstName %> di:</p>
                </div>
                <div class="container-logo-sosmed-streamer">
                    <a href="">
                        <img class="img-logo-sosmed-streamer" src="/images/instagram-svg.svg" alt="">
                    </a>
                    <a href="">
                        <img class="img-logo-sosmed-streamer" src="/images/youtube-svg.svg" alt="">
                    </a>
                    <a href="">
                        <img class="img-logo-sosmed-streamer" src="/images/twitter-svg.svg" alt="">
                    </a>
                    <a href="">
                        <img class="img-logo-sosmed-streamer" src="/images/facebook-svg.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-galeri-streamer">
        <div class="judul-container-galeri-streamer">
            <p class="text-judul-container-galeri-streamer">Galeri</p>
        </div>
        <div class="deskripsi-container-galeri-streamer">
            <p class="text-deskripsi-container-galeri-streamer">Beberapa hasil potret <%= firstName %> untuk mengabadikan
                sudut-sudut kota Bandung</p>
        </div>
        <div class="container-grid-content-galeri">
            <div class="gambar-1 gambar">
                <!-- <div class="container-gambar-grid"></div> -->
                <img src="/images/building-image-1.png" alt="">
            </div>
            <div class="gambar-2 gambar">
                <img class="coba-class-img" src="/images/building-image-2.png" alt="">
            </div>
            <div class="gambar-3 gambar">
                <img src="/images/building-image-3.png" alt="">
            </div>
            <div class="gambar-4 gambar">
                <img src="/images/building-image-4.png" alt="">
            </div>
            <div class="gambar-5 gambar">
                <img src="/images/building-image-5.png" alt="">
            </div>
            <div class="gambar-6 gambar">
                <img src="/images/building-image-6.png" alt="">
            </div>
            <div class="gambar-7 gambar">
                <img src="/images/building-image-7.png" alt="">
            </div>
            <div class="gambar-8 gambar">
                <img src="/images/building-image-8.png" alt="">
            </div>
        </div>
    </div>
</div>