<h1 class="ticket-title">Tiket Saya</h1>

		<div class="ticket-container">
			<div class="ticket-card">
				<div class="ticket-card-body">
					<div class="ticket-card-body-left">
						<img
							src="/images/person-bulet.png"
							alt="gambar orang bulet"
							class="ticket-card-image"
						/>
						<h6 class="ticket-card-title">Streamer</h6>
						<h5 class="ticket-card-subtitle"><%= checkout_result.Streamer.streamer_fullname %></h5>
					</div>


					<hr class="garis-dekor">
				
					<div class="ticket-card-body-center">
						<div class="time-wrapper">
							<div class="ticket-card-wrap ticket-card-clock">
								<div>
									<img src="/images/clock.png" alt="icon" class="ticket-card-icon" />
								</div>
								<div class="ticket-card-details">
									<p class="ticket-card-description">Jam</p>
									<h6 class="ticket-card-detail"><%= checkout_result.time %></h6>
								</div>
							</div>

							<div class="ticket-card-wrap">
								<div>
									<img
										src="/images/calendar-ticket.png"
										alt="icon"
										class="ticket-card-icon"
									/>
								</div>
								<div class="ticket-card-details">
									<p class="ticket-card-description">Tanggal</p>
									<h6 class="ticket-card-detail"><%= checkout_result.date %></h6>
								</div>
							</div>
						</div>

						<div class="ticket-card-wrap fullwidth">
							<div>
								<img src="/images/Vector.png" alt="icon" class="ticket-card-icon" />
							</div>
							<div class="ticket-card-details">
								<p class="ticket-card-description">Kota <%= checkout_result.Destination.destination_name %></p>
								<h6 class="ticket-card-detail">
									<%= destinasi %>
								</h6>
							</div>
						</div>
					</div>

					<hr class="garis-dekor">

					<div class="ticket-card-body-right">
						<div class="ticket-card-wrap">
							<div>
								<img src="/images/dollar.png" alt="icon" class="ticket-card-icon" />
							</div>
							<div class="ticket-card-details">
								<p class="ticket-card-description">Total Pembayaran</p>
								<h6 class="ticket-card-detail">Rp <%= checkout_result.total_price %></h6>
							</div>
						</div>

						<div class="ticket-card-buttons">
							<a href="/checkout/render/<%= checkout_result.id %>"><button class="ticket-button-primary" type="button">Detail Order</button></a>
						</div>
					</div>
				</div>

				<% if ((checkout_result.is_confirmed == true) && (checkout_result.is_approved == null)) { %>
					<div class="card-footer">
						<h5>Order Masih Dalam Proses Peninjauan Oleh Streamer</h5>
					</div>
				<% } %>
				
				<div style="margin-bottom: 200px;"></div>

			</div>
		</div>